<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title : "Agregar Producto" }) %>

    <body class="addProducts">
        <%- include('../partials/header') %>
            <main>
                <section class="add_container">
                    <h3>Agregar Producto</h3>
                    <form action="" method="">
                        <article class="camps_container">
                            <div class="sub_container">
                                <div class="add_form-box">
                                    <label for="name"><strong>Nombre</strong></label>
                                    <input class="add_input" type="text" id="name" name="name" style="padding:5px;">
                                </div>
                                <div class="add_form-box">
                                    <label for="image"><strong>Imagen</strong></label>
                                    <input class="add_input" type="file" id="image" name="image" multiple>
                                </div>
                                <div class="add_form-box">
                                    <label for="category"><strong>Categoría</strong></label>
                                    <select name="category" id="category">
                                        <option value="" hidden selected>Selecciona la categoría...</option>
                                    </select>
                                </div>
                                <div class="add_form-box">
                                    <label for="price"><strong>Precio</strong></label>
                                    <input class="add_input" type="number" id="price" name="price" style="padding:5px;">
                                </div>
                            </div>
                            <div>
                                <div class="add_form-box-description">
                                    <label for="desciption"><strong>Descripción</strong></label>
                                    <textarea class="add_input" type="text" id="desciption" name="desciption" rows="3" cols="35"
                                        style="resize: none; padding:5px;"></textarea>
                                </div>
                            </div>
                        </article>
                        </div>
                        </div>
                        <div class="register_center">

                            <div class="add_button">
                                <button type="submit">Enviar</button>
                                <button type="reset">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>
