<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "List" }) %>

    <body class="home">
        <%- include('../partials/header') %>
            <main class="list">
                <div class="list__container__options">
                    <div class="list__options_top" ><a href="/products/add">Crear Producto</a></div>
                    <div class="list__options_top" ><a href="/category/add">Crear Categoría</a></div>
                    <div class="select__list">
                        <select>
                            <option class="products__list" value="1" default>Productos</option>
                            <% if (userLogin.rol=="moderator" ) { %>
                                <option class="users__list" value="2">Usuarios</option>
                                <% } %>
                                    <option class="categories__list" value="3">Categorías</option>
                        </select>
                        <i></i>
                    </div>
                </div>
                    
                <div class="list__container">
                    <div class="list__top">
                        <div class="list__cates">
                            <div class="list__cates1">
                                <a class="list__cate" style="cursor: pointer;" onclick="changeproduct(0)">TODOS</a>
                                <a class="list__cate" style="cursor: pointer;" onclick="changeproduct(1)">BioCapilar</a>
                            </div>
                            <div class="list__cates2">
                                <a class="list__cate" style="cursor: pointer;"
                                    onclick="changeproduct(2)">BioCorporal</a>
                                <a class="list__cate" style="cursor: pointer;" onclick="changeproduct(3)">BioSpa</a>
                            </div>

                        </div>
                        <form class="list__busqueda" action="/products/list" method="GET">
                            <input type="text" name="keyboard" class="list__barra">
                            <button type="submit">Buscar</button>
                        </form>
                    </div>
                    <div class="list__headproducts">
                        <h3 class="list__id">Id</h3>
                        <h3 class="list__name">Nombre</h3>
                        <h3 class="list__price">Precio</h3>
                        <h3 class="list__options">Opciones</h3>
                    </div>
                    <section class="list__products"></section>
                </div>
            </main>
            <%- include('../partials/footer') %>
                <script src="/javascript/deteleProduct.js"></script>
                <script src="/javascript/list.js"></script>
    </body>

</html>