<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "List" }) %>

    <body class="home">
        <%- include('../partials/header') %>

        <main class="list">
            
            <div class="list__contenedor">


            </div>
        </main>




            
            
        <%- include('../partials/footer') %>
            <script type="text/javascript" src="/javascript/carrusel.js"></script>
            <script src="/javascript/menuMobile.js"></script>
    </body>
</html>