<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Productos" }) %>

        <body class="productAll">
                <%- include('../partials/header') %>
 <main>
        <h2 class="titulares">Productos Recomendados</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                        <span class="promo">10% off</span>
                    </div>
                    <div class="info-container">
                        <h2> Jabón Rosas</h2>
                        <h4>BioCorporal</h4>
                        <span>-Humectante-</span>
                        <h3>$300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="/products/card">
                <a href="./productCard.html">
                    <div class="img-container">
                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                        <span class="promo">25% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Luffa + Jabón</h2>
                        <h4>BioSpa</h4>
                        <span>-Exfoliante-</span>
                        <h3>$ 600.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="./productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="./productCard">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="titulares">BioCapilar</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                        <span class="promo">10% off</span>
                    </div>
                    <div class="info-container">
                        <h2> Jabón Rosas</h2>
                        <h4>BioCorporal</h4>
                        <span>-Humectante-</span>
                        <h3>$300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/productCard">
                    <div class="img-container">
                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                        <span class="promo">25% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Luffa + Jabón</h2>
                        <h4>BioSpa</h4>
                        <span>-Exfoliante-</span>
                        <h3>$ 600.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="titulares">BioCorporal</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                        <span class="promo">10% off</span>
                    </div>
                    <div class="info-container">
                        <h2> Jabón Rosas</h2>
                        <h4>BioCorporal</h4>
                        <span>-Humectante-</span>
                        <h3>$300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/productCard">
                    <div class="img-container">
                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                        <span class="promo">25% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Luffa + Jabón</h2>
                        <h4>BioSpa</h4>
                        <span>-Exfoliante-</span>
                        <h3>$ 600.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="titulares">BioSpa</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                        <span class="promo">10% off</span>
                    </div>
                    <div class="info-container">
                        <h2> Jabón Rosas</h2>
                        <h4>BioCorporal</h4>
                        <span>-Humectante-</span>
                        <h3>$300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/productCard">
                    <div class="img-container">
                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                        <span class="promo">25% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Luffa + Jabón</h2>
                        <h4>BioSpa</h4>
                        <span>-Exfoliante-</span>
                        <h3>$ 600.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="#">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <h2>Kit Coco</h2>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="#" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
        </section>

        <div class="banner">
            <img src="/images/ViveBio-ecoFriendly.png" alt="">
        </div>
    </main>

                        <%- include('../partials/footer') %>
        </body>

</html>
