<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Productos" }) %>

        <body class="productAll">
                <%- include('../partials/header') %>
     <main>
        <h2 class="titulares">Productos Recomendados</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <h2 class="titulares">BioCapilar</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <h2 class="titulares">BioCorporal</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <h2 class="titulares">BioSpa</h2>
        <section class="row">
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
            <div class="card estilo-c">
                <a href="/products/Card">
                    <div class="img-container">
                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                        <span class="promo">15% off</span>
                    </div>
                    <div class="info-container">
                        <div class="box-nombre-edit">
                            <h2>Kit Coco</h2>
                            <a href="/products/Edit"><i class="fa-solid fa-file-pen"></i></a>
                        </div>
                        <h4>BioCapilar</h4>
                        <span>-Humectante-</span>
                        <h3>$ 300.00.-</h3>
                </a>
                <div class="card-c-iconos">
                    <span class="rating">⭐⭐⭐⭐</span>
                    <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                    <div class="buttons">
                        <button><i class="fa-solid fa-share-nodes"></i></button>
                        <button><i class="fa-solid fa-star"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <div class="banner">
            <img src="/images/ViveBio-ecoFriendly.png" alt="">
        </div>
    </main>

                        <%- include('../partials/footer') %>
        </body>

</html>
