<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Productos" }) %>

    <body class="productAll">
        <%- include('../partials/header') %>
            <main>
                <h2 class="titulares">Productos Recomendados</h2>
                <section class="row">
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                </section>
                <h2 class="titulares">BioCapilar</h2>
                <section class="row">
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                </section>
                <h2 class="titulares">BioCorporal</h2>
                <section class="row">
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                </section>
                <h2 class="titulares">BioSpa</h2>
                <section class="row">
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                    <div class="card estilo-c">
                        <div class="img-container">
                            <img src="/images/jabon-humectante-14.jpg" alt="producto">
                            <span class="promo">10% off</span>
                        </div>
                        <div class="info-container">
                            <div class="Card-info-texto">
                                <h2>Jabón Rosas</h2>
                                <h4>BioCorporal</h4>
                                <span>-Humectante-</span>
                                <h3>$300.00.-</h3>
                                <span class="rating">⭐⭐⭐⭐</span>
                            </div>
                            <div class="card-c-iconos">
                                <div class="iconos-white">
                                    <a href="/products/Card"><i class="fa-solid fa-eye"></i></a>
                                    <a href="/products/Edit"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#"><i class="fa-solid fa-share-nodes"></i></a>
                                    <a href="#"><i class="fa-solid fa-star"></i></a>
                                </div>
                                <a href="/productCarrito.html" class="add-cart">Quiero! 🛒</a>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="banner">
                    <img src="/images/Banner03.png" alt="">
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>
