<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title : "Carrito" }) %>

    <body class="productCart">
        <%- include('../partials/header') %>
            <main>
                <section class="cart_container">

                    <article class="cart_article_box">
                        <div class="cart_sect_1">
                            <div class="cart_sect_img">
                                <img src="/images/Jabon-antiseptico-07.jpg" alt="">
                            </div>
                            <div class="cart_sect_description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, consequuntur.</p>
                            </div>
                        </div>
                        <div class="cart_sect_2">
                            <div class="cart_sect_count">
                                <div class="cart_box_more-less">
                                    <span>-</span>
                                </div>
                                <div class="cart_box_count">
                                    <span id="cart_count">01</span>
                                </div>
                                <div class="cart_box_more-less">
                                    <span>+</span>
                                </div>
                            </div>
                            <div class="cart_sect_price">
                                <span>$100</span>
                            </div>
                            <div class="cart_box_button">
                                <form action="">
                                    <input type="submit" value="Eliminar">
                                </form>
                                
                            </div>
                        </div>
                    </article>
                    <div class="cart_payment">
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        <div class="add_form-box">
                            <label for="payment">Medio de Pago</label>
                            <select class="add_input" name="payment" id="payment">
                                <option value="" hidden selected>Selecciona un medio de Pago...</option>
                                <option value="">1</option>
                            </select>
                        </div>
                        
                    </div>
                </section>
            </main>
            <script src="/javascript/menuMobile.js"></script>
    </body>

</html>