<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title : "Register" }) %>


    <body class="register">
        <div class="header_register">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <div class="header_register_mobile">
            <%- include('../partials/header') %>
        </div>
        <main>
            <section class="register_container">
            </section>
        </main>
    </body>
    <script src="/javascript/menuMobile.js"></script>

</html>