<footer class="footer">
    <div class="DatFooter">
        <ul class="direcciones__footer">
            <li><a href="/">Home</a></li>
            <li><a href="/productAll">Productos</a></li>
            <li><a href="#">Consejos</a></li>
            <li><a href="#">Política de devolución</a></li>
        </ul>
        <div class="contacto__footer">
            <h3>Contactanos</h3>
            <ul class="redes__footer">

                <li><a href="#"><img class="footer__img-redes" src="/images/linkedln.png" alt=""></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/twitter.png" alt=""></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/Facebook.png" alt=""></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/Instagram.png" alt=""></li></a>
            </ul>
        </div>
    </div>
    <div class="copy__footer">
        <a href="">Terminos y condiciones</a>
        <p>Argentina 2022 - Derechos reservados</p>
    </div>
</footer>