<footer>
    <section class="footer">
        <div class="circle"></div>
    <div class="DatFooter">
        <ul class="direcciones__footer">
            <li><a href="/">Home</a></li>
            <li><a href="/products/all">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <% if (locals.userLogin) { %> 
            <li><a href="/users/profile/<%= locals.userLogin.id %>">Perfil</a></li>
            <% } else{ %>
             <li><a href="/users/login">Unirse</a></li>
             <% } %> 
        </ul>

        <div class="contacto__footer">
            <ul class="redes__footer">

                <li><a href=""><img class="footer__img-redes" src="/images/linkedln.png" alt="Link acceso LinkedIn"></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/twitter.png" alt="Link acceso LinkedIn"></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/Facebook.png" alt="Link acceso Facebook"></li></a>
                <li><a href="#"><img class="footer__img-redes" src="/images/Instagram.png" alt=""></li></a>
            </ul>
        </div>
        
    </div>
    <div class="mapa">
       
        <h1>
            Los esperamos!
        </h1>
   
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12389.578831121884!2d-58.9868221139591!3d-34.66541420308581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc8f94a9034653%3A0x1b0543c64c78eca8!2sViveBio!5e0!3m2!1ses-419!2sar!4v1660697499088!5m2!1ses-419!2sar" style="border:8px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>
<div class="copy__footer">
    <a href="#">Términos y condiciones </a>
    
    <p>- Argentina 2022 - Derechos reservados</p>
</div>


</footer>

