<header class="header">
    <div class="header_mobile-container" id="header_mobile">
        <div class="mobile_header">
            <div class="mobile_logo">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div class="nav_mobile_menu">
                <span id="btnMenu"><i class="fas fa-bars"></i></span>
            </div>
        </div>
        <div class="options_mobile" id="menu">
            <% if (!locals.userLogin) { %>
                <div class="usuario_mobile">
                    <a href="/users/login"><i class="fas fa-user-circle"></i>Login</a>
                </div>
                <% } else{ %>
                    <div class="usuario_mobile-log">
                        <a href="/users/profile/<%= userLogin.id %>">
                            <img src="/images/users/<%= userLogin.image %>" alt="">
                            <span style="font-size: 1.3rem;">
                                <%= userLogin.username %>
                            </span>
                            <span style="text-transform:uppercase;font-size: 0.8rem;">
                                <%= userLogin.rol %>
                            </span>
                        </a>
                        <a href="/users/logout" style="margin-top: 5px;font-size:0.8rem;color:var(--verdeFuerte)"
                            title="Salir">Logout</a>
                    </div>
                    <% } %>
                        <ul class="menu">
                            <li><a href="/">Home</a></li>
                            <% if (locals.userLogin && userLogin.category=="admin" ) { %>
                                <li><a href="/products/list/0">Lista</a></li>
                                <% }else{ %>
                                    <li><a href="/products/all">Productos</a></li>
                                    <% }%>
                                        <li><a href="">Quiénes somos</a></li>
                                        <li><a href="">Contacto</a></li>
                        </ul>
        </div>
    </div>
    <!-- inicio opciones emergente -->
    <% if (locals.userLogin) { %>
        <div class="nav_emergente" id="emergente">
            <div class="solapa" id="btnNavMob">
                <span class="solapa1" id="solapa1"></span>
                <span class="solapa2" id="solapa2"></span>
            </div>
            <div class="nav_options-emergente">
                <% if (locals.userLogin && userLogin.rol=="admin" ) { %>
                    <a href="/products/add" title="Añadir producto"><i class="fa-solid fa-plus"></i></a>
                    <% } %>
                        <a href="#"><i class="fa-solid fa-gear" title="Configuración"></i></a>
                        <a href="#"><i class="fa-solid fa-bell" title="Notificaciones"></i></a>
                        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"
                                title="Carrito de compras"></i></a>
                        <a href="#"><i class="fa-regular fa-heart" title="Favoritos"></i></a>
            </div>
        </div>
        <% } %>

        </div>
    </div>
    <nav class="header__nav">
        <div class="header__localizacion">
