<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c5fd8ed388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" href="/images/Logo.ico" type="image/x-icon">
    <script src="/javascript/menuMobile.js" defer></script>
    <script src="/javascript/navEmergent.js" defer></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascript/header.js" defer></script>
</head>