<header class="header">
    <div class="header_mobile-container" id="header_mobile">
        <div class="mobile_header">
            <div class="mobile_logo">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div class="nav_mobile_menu">
                <span id="btnMenu"><i class="fas fa-bars"></i></span>
            </div>
        </div>
        <div class="options_mobile" id="menu">
            <% if (!locals.userLogin) { %>
                <div class="usuario_mobile">
                    <a href="/users/login"><i class="fas fa-user-circle"></i>Login</a>
                </div>
            <% } else{ %>
                <h3>Hola <%= userLogin.user %> </h3>
                <a href="/users/logout">Logout</a>
             <% } %>
              
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products/all">Productos</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="header__container">
        <div class="header__logo">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
            <form class="header__busqueda" action="/Products/search" method="GET">
                <input type="text" name="keyboard" class="barra" style="padding-left:5px;">
                <button  type="submit"  class="barra__lupa"><i class="fas fa-search"></i></button>
            </form>
        <div class="header__user">
            <a href="/users/login">
                <i class="fa-regular fa-circle-user icon__user"></i>
                <% if (locals.userLogin) { %>
                <p><%= userLogin.user %> </p>
                <a href="/users/logout" class="logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <% }else{ %>
                <p>Logueate</p>
                <% } %>
            </a>
        </div>
    </div>
    <nav class="header__nav">
        <div class="header__localizacion">
            <a href="">Estas en "lugar"</a>
        </div>
        <div class="header__opciones">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products/all">Productos</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="header__iconos">
            <% if (locals.userLogin && userLogin.category == "admin") { %>
                <a href="/products/add"><i class="fa-solid fa-plus"></i></a>
            <% } %>
            <a href="#"><i class="fa-solid fa-gear"></i></a>
            <a href="#"><i class="fa-solid fa-bell"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
    </nav>



</header>