<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : "About" }) %>

    <body class="about">
        <%- include('./partials/header') %>

        <main>
        <section>
            <article>
                <h3>Un gran paso, una huella pequeña</h3>      

                <p>
                    Somos parte de la comunidad consciente del mundo, que reconoce que lograr un mejor futuro depende de nuestras decisiones individuales 
                    y de todo el esfuerzo en conjunto.
                    Desde nuestro cultivo ubicado en Rodriguez, prov. de Bs As., vemos a la Tierra concebir todas nuestras materias primas. Nos obsequia su medicina cual madre amorosa, y 
                    nosotros asumimos la responsabilidad y el honor de cuidar su bienestar en todo el proceso productivo. 
                </p>

                <img src="/images/945f5e5192bb476609e701238335543f.jpg" alt="">

            </article>

            <article>
                <img src="/images/nosotros 1.jpg" alt="">
                <div class="icons">
                    
                    <img src="/images/icono1.jpg" alt="">
                    <img src="/images/icono2.jpg" alt="">
                    <img src="/images/icono3.jpg" alt="">
                    <img src="/images/icono4.jpg" alt="">
                </div>  
            </article>

        </section>
        </main>
  
        
</body>

<%- include('./partials/footer') %>

</html>