<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script src="https://kit.fontawesome.com/c5fd8ed388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body class="carrito">
   



<main>
    <section class="carrito-contenedor">
        <div class="carrito-contenedor-general">
            <div class="carrito_pasos">
                <p>Paso 1 - Paso 2 - Paso 3</p>
            </div>

            <!--JABON CON PETALOS-->
            <article class="carrito-box">
                <div class="carrito-images">
                    <img src="images/jabon con petalos.jpg" alt="">
                </div>
            <div class="carrito-texto-productos">
                <div class="carrito-titulo">
                    <h3>Jabón con Pétalos</h3>
                </div>

                <div>
                    <h4>Este contiene aceites naturales que devuelven
                        la humedad e hidratación a tu piel.
                    </h4>
                </div>
            </div>
            </article>

            <!-- BOTONES -->
            <div>
                <div class="carrito-buttons1">
                    <h2>CANTIDAD: 1</h2>
                    <h2>$720-</h2>
                </div>

                <div class="carrito-buttons2">
                    <button type="submit">modificar</button>
                    <button type="submit">eliminar</button>
                </div>
                
            </div>


            <!--JABON y ESPONJA-->
            <article class="carrito-box">
                <div class="carrito-images">
                    <img src="images/jabon y esponja vegetal.jpg" alt="">
                </div>

                <div class="carrito-titulo">
                    <h3>Jabón y esponja vegetal</h3>
                    <h4>Este contiene aceites naturales que devuelven
                        la humedad e hidratación a tu piel.
                    </h4>
                </div>
            </article>

            <div>
                <div class="carrito-buttons1">
                    <h2>CANTIDAD: 1</h2>
                    <h2>$460-</h2>
                </div>

                <div class="carrito-buttons2">
                    <button type="submit">modificar</button>
                    <button type="submit">eliminar</button>
                </div>
            </div>


            <!--JABON y ESPONJA-->
            <article class="carrito-box">
                <div class="carrito-images">
                    <img src="images/toallas de algodon.jpg" alt="">
                </div>

                <div class="carrito-titulo">
                    <h3>Toallas de algodon</h3>
                    <h4>Este contiene aceites naturales que devuelven
                        la humedad e hidratación a tu piel.
                    </h4>
                </div>
            </article>

            <div>
                <div class="carrito-buttons1">
                    <h2>CANTIDAD: 1</h2>
                    <h2>$220-</h2>
                </div>

                <div class="carrito-buttons2">
                    <button type="submit">modificar</button>
                    <button type="submit">eliminar</button>
                </div>
            </div>

            <!-- LISTA -->
            <div class="carrito-cupon-lista">
            <div class="carrito-contenedor-lista">

                <h4>Cupón de Descuento</h4>

                <div class="carrito-input">
                    <input id="icons-search" name="icons-search" type="text" placeholder="Search 16,083 icons..."
                        class="rounded">
                </div>

                <p>Precio de Lista</p>
                <p>Precio al Contado</p>
                <p>Precio Contado/Cuotas</p>

                <h4>Seleccione Método de Pago</h4>

            
                <div class="carrito-lista">
                    <select name="Tarjetas de Crédito" id="Tarjetas de Crédito">
                        <optgroup label="Tarjetas de Crédito">
                            <option value="Mercado Pago">Mercado Pago</option>
                            <option value="Visa">Visa</option>
                            <option value="American Express">American Express</option>
                            <option value="Mastercard">Mastercard</option>
                            <option value="Cabal">Cabal</option>
                            <option value="Diners Club">Diners Club</option>
                        </optgroup>
                    </select>

                    <select name="Centros de Pago" id="Centros de Pago">
                        <optgroup label="Centros de Pago">Centros de Pago</optgroup>
                        <option value="Rapipago">Rapipago</option>
                        <option value="Pago Facil">Pago Fácil</option>
                        <option value="Zona Pago">Zona Pago</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            </div>

            <div class="carrito-buttons3">
                <button type="submit">Limpiar Carrito</button>
                <button type="submit">Siguiente Paso</button>
            </div>
        </div>
    </section>
        
    <meta name="viewport" content="width=device-width, initial-scale=1">

</main>


    <!--<footer class="footer">
        <div class="DatFooter">
            <ul class="direcciones__footer">
                <li><a href="/">Home</a></li>
                <li><a href="/productAll">Productos</a></li>
                <li><a href="#">Consejos</a></li>
                <li><a href="#">Política de devolución</a></li>
            </ul>
            <div class="contacto__footer">
                <h3>Contactanos</h3>
                <ul class="redes__footer">

                    <li><a href="#"><img class="footer__img-redes" src="/images/linkedln.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/twitter.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/Facebook.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/Instagram.png" alt=""></li></a>
                </ul>
            </div>
        </div>
        <div class="copy__footer">
            <a href="">Terminos y condiciones</a>
            <p>Argentina 2022 - Derechos reservados</p>
        </div>
    </footer>
</body>

</html>-->