<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Product Card</title>
</head>

<body class="productCard">
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <img src="/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="header__busqueda">
                <input type="text" class="barra">
                <img src="/images/Lupa.png" alt="" class="barra__lupa">
            </div>
            <div class="header__user">
                <a>
                    <img src="/images/Usuario.png" alt="Usuario" class="icon__user">
                    <p>Usuario</p>
                </a>
            </div>
        </div>
        <nav class="header__nav">
            <div class="header__localizacion">
                <a href="">Estas en "lugar"</a>
            </div>
            <div class="header__opciones">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
            <div class="header__iconos">
                <a href="#"><img src="/images/configuracion.png" alt="" ></a>
                <a href="#"><img src="/images/campana.png" alt=""></a>
                <a href="#"><img src="/images/carrito.png" alt=""></a>
                <a href="#"><img src="/images/corazon.png" alt=""></a>
            </div>
        </nav>
        <img src="/images/menu-hamburgesa.png" alt="" class="header__menu">
    </header>
    <div class="carrusel__home">
    </div>
    <main>
      <div class="uk-flex uk-flex-middle uk-flex-center uk-child-width-1-1 uk-padding-small" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
              <div class="uk-width-1-1 blur-container uk-padding">
                <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <h4>
                    Mujer
                    </h4>
                  </div>
                  <div>
                    <a class="btn btn-small btn-primary" href="https://kimodo.es/177-ropa-de-mujer">Ver todo</a>
                  </div>
              </div>
                </div>
              <img class="card-image-left" loading="lazy" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Slider/slide_gMBkkTZuUVV.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644257577379" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
          </div>
          <div>
              <div class="uk-card-body">
                  <h5>Lo más destacado 😍</h5>
                  <ul class="uk-list uk-list-divider">
          <li>
            <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="40" height="40" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Categories/tshirt_71N4vV9Zj74.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644495819398">
                    Camisetas sostenibles
                  </div>
                  <div>
                    <a href="https://kimodo.es/75-camisetas-y-polos">Ver</a>
                  </div>
              </div>
          </li>
          <li>
             <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="40" height="40" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Categories/bolso_ZCH8dRezn.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644495819229">
                    Bolsos y mochilas
                  </div>
                  <div>
                    <a href="https://kimodo.es/244-bolsos">Ver</a>
                  </div>
              </div>
          </li>
          <li>
             <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="40" height="40" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Categories/jeans_YRASelxBo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644495819280">
                    Jeans éticos
                  </div>
                  <div>
                    <a href="https://kimodo.es/137-jeans-y-pantalones">Ver</a>
                  </div>
              </div>
          </li>
          <li>
             <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <img class="uk-border-circle" width="40" height="40" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Categories/sudadera_RoXedCV8R.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644495819246">
                    Sudaderas eco
                  </div>
                  <div>
                    <a href="https://kimodo.es/76-jersey-y-sudaderas">Ver</a>
                  </div>
              </div>
          </li>
      </ul>
              </div>
          </div>
      </div>
        </div>
        <div>
          <div class="uk-flex uk-flex-middle uk-flex-center uk-child-width-1-2@s" uk-grid>
            <div>
               <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                      <img class="card-image-top" loading="lazy" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Slider/third-slide_u-RkEDF8d.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644257577417" alt="">
                  </div>
                  <div class="uk-card-body">
                      <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <h4>
                    Hombre
                    </h4>
                  </div>
                  <div>
                    <a class="btn btn-small btn-secondary" href="https://kimodo.es/185-ropa-de-hombre">Ver todo</a>
                  </div>
              </div>
                    <p>Encuentra ropa sostenible para hombre con descuentos de hasta el 90% en tus marcas y colecciones favoritas</p>
                  </div>
              </div>
            </div>
            <div>
               <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top">
                      <img class="card-image-top" loading="lazy" src="https://ik.imagekit.io/pftkogwkc5j/Kimodo/Slider/fourth-slide_ZZuFprbdE.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644257577343" alt="">
                  </div>
                  <div class="uk-card-body">
                      <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                  <div class="uk-width-auto">
                      <h4>
                    Infantil
                    </h4>
                  </div>
                  <div>
                    <a class="btn btn-small btn-secondary" href="https://kimodo.es/12-infantil-juvenil">Ver todo</a>
                  </div>
              </div>
                    <p>Encuentra ropa sostenible para hombre con descuentos de hasta el 90% en tus marcas y colecciones favoritas</p>
                  </div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
        <div class="DatFooter">
            <ul class="direcciones__footer">
                <li><a href="#">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Consejos</a></li>
                <li><a href="#">Politica de devolucion</a></li>
            </ul>
            <div class="contacto__footer">
                <h3>Contactanos</h3>
                <ul class="redes__footer">
                    <li><img src="/images/linkedln.png" alt=""></li>
                    <li><img src="/images/twitter.png" alt=""></li>
                    <li><img src="/images/Facebook.png" alt=""></li>
                    <li><img src="/images/Instagram.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="copy__footer">
            <a href="">Terminos y condiciones</a>
            <p>Argentina 2022 - Derechos reservados</p>
        </div>
    </footer>
</body>

</html>