<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c5fd8ed388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/5a8fb06a25.js" crossorigin="anonymous"></script>
    <title>Products</title>
</head>

<body class="productAll">
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div class="header__busqueda">
                <input type="text" class="barra">
                <img src="/images/Lupa.png" alt="" class="barra__lupa">
            </div>
            <div class="header__user">
                <a href="/login">
                    <img src="/images/Usuario.png" alt="Usuario" class="icon__user">
                    <p>Usuario</p>
                </a>
            </div>
        </div>
        <div class="header__burger">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="header__nav">
            <div class="header__localizacion">
                <a href="">Estas en "lugar"</a>
            </div>
            <div class="header__opciones">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
            <div class="header__iconos">
                <a href="#"><img src="/images/configuracion.png" alt=""></a>
                <a href="#"><img src="/images/campana.png" alt=""></a>
                <a href="/carrito"><img src="/images/carrito.png" alt=""></a>
                <a href="#"><img src="/images/corazon.png" alt=""></a>
            </div>
        </nav>
    </header>
    <div class="carrusel__home">
        <img src="/images/logo.png" alt="logo" class="banner">
    </div>

    <main>
            <h2 class="títulos">Productos Recomendados<h2>
        <section class="row">
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jabon_humectante_2.jpg" alt="producto">
                                    <span class="promo">10% off</span>
                            </div>
                            <div class="info-container">
                                    <h2> Jabón Humectante</h2>
                                    <h4>BioCorporal</h4>
                                    <h3>$ 300.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                                    <span class="promo">25% off</span>
                            </div>
                            <div class="info-container">
                                    <h2> Kit Exfoliante </h2>
                                    <h4>BioSpa<h4>
                                    <h3>$ 600.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                                    <span class="promo">15% off</span>
                            </div>
                            <div class="info-container">
                                    <h2>Kit Coco</h2>
                                    <h4>BioCapilar</h4>
                                    <h3>$ 300.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
        </section>
            <h2 class="títulos">BioCapilar<h2>
        <section class="row">
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jabon_humectante_2.jpg" alt="producto">
                                    <span class="promo">10% off</span>
                            </div>
                            <div class="info-container">
                                    <h2> Jabón Humectante</h2>
                                    <h4>BioCapilar</h4>
                                    <h3>$ 300.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                                    <span class="promo">25% off</span>
                            </div>
                            <div class="info-container">
                                    <h2> Kit Exfoliante </h2>
                                    <h4>BioCapilar<h4>
                                    <h3>$ 600.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                    <a href="#">
                            <div class="img-container">
                                    <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                                    <span class="promo">15% off</span>
                            </div>
                            <div class="info-container">
                                    <h2>Kit Coco</h2>
                                    <h4>BioCapilar</h4>
                                    <h3>$ 300.00.-</h3>
                                    </a>
                                    <span class="rating">⭐⭐⭐⭐</span>
                                    <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
        </section>
            <h2 class="títulos">BioCorporal<h2>
        <section class="row">
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                                        <span class="promo">10% off</span>
                            </div>
                            <div class="info-container">
                                        <h2> Jabón Humectante</h2>
                                        <h4>BioCorporal</h4>
                                        <h3>$ 300.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                                        <span class="promo">25% off</span>
                            </div>
                            <div class="info-container">
                                        <h2> Kit Exfoliante </h2>
                                        <h4>BioCorporal<h4>
                                        <h3>$ 600.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                                        <span class="promo">15% off</span>
                            </div>
                            <div class="info-container">
                                        <h2>Kit Coco</h2>
                                        <h4>BioCorporal</h4>
                                        <h3>$ 300.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
        </section>
             <h2 class="títulos">BioSpa<h2>
        <section class="row">
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jabon_humectante_2.jpg" alt="producto">
                                        <span class="promo">10% off</span>
                            </div>
                            <div class="info-container">
                                        <h2> Jabón Humectante</h2>
                                        <h4>BioSpa</h4>
                                        <h3>$ 300.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jabonExfo_luffa.jpg" alt="producto">
                                        <span class="promo">25% off</span>
                            </div>
                            <div class="info-container">
                                        <h2> Kit Exfoliante </h2>
                                        <h4>BioSpa<h4>
                                        <h3>$ 600.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
                            <div class="card estilo-c">
                                        <a href="#">
                            <div class="img-container">
                                        <img src="/images/jaboncito_exfoliantes.jpg" alt="producto">
                                        <span class="promo">15% off</span>
                            </div>
                            <div class="info-container">
                                        <h2>Kit Coco</h2>
                                        <h4>BioSpa</h4>
                                        <h3>$ 300.00.-</h3>
                                        </a>
                                        <span class="rating">⭐⭐⭐⭐</span>
                                        <a href="#" class="add-cart">Lo quiero! 🛒</a>
                            </div>
                            </div>
        </section>
                            <div class="banner">
                                        <img src="/images/ViveBio-ecoFriendly.png" alt="">
                            </div>
    </main>

    <footer class="footer">
        <div class="DatFooter">
            <ul class="direcciones__footer">
                <li><a href="/">Home</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="#">Consejos</a></li>
                <li><a href="#">Política de devolución</a></li>
            </ul>
            <div class="contacto__footer">
                <h3>Contactanos</h3>
                <ul class="redes__footer">

                    <li><a href="#"><img class="footer__img-redes" src="/images/linkedln.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/twitter.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/Facebook.png" alt=""></li></a>
                    <li><a href="#"><img class="footer__img-redes" src="/images/Instagram.png" alt=""></li></a>
                </ul>
            </div>
        </div>
        <div class="copy__footer">
            <a href="">Terminos y condiciones</a>
            <p>Argentina 2022 - Derechos reservados</p>
        </div>
    </footer>
</body>

</html>