.productAll main {
    margin: auto;
}

.productAll .primer_contenedor {
    border: 1px solid var(--verdeFuerte);
    margin: 70px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px var(--aquamarine);
}


/* PRODUCTOS RELACIONADOS */
.productAll .titulares {
    text-align: center;
    color: white;
    background-color: #7FA794C4;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 20px;

}

/* PRODUCTOS RELACIONADOS */
.productAll .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.productAll .productosRelacionados {
    color: white;
    background-color: var(--verdeOscuro);
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productAll .producto-iconos a {
    display: inline-flex;
    gap: 15px;
    background-color: var(--verdeClaro-Opaco);
    margin-right: 10px;
    height: 40px;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px white;
}

.productAll .producto-iconos a:hover {
    color: var(--verdeFuerte);
    background-color: white;
    border: 1px solid var(--verdeFuerte);
}

.productAll .card.estilo-c {
    width: 250px;
    margin-bottom: 40px;
}


.productAll .estilo-c .img-container .promo {
    position: absolute;
    background: var(--aquamarine);
    top: 10px;
    left: 0;
    font-size: 20px;
    padding: 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: var(--azulMarino);
}

.productAll .estilo-c .img-container {
    overflow: hidden;
    height: 250px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productAll .estilo-c .img-container img {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    height: 100%;
    object-fit: cover;
}

.productAll .estilo-c:hover .img-container img {
    transform: scale(1.2);
}

.productAll .estilo-c .info-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--green-background-cards);
    /* height: 170px; */
    padding: 10px;
    text-align: center;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-evenly; */
    color: var(--azulSuave);
}

.productAll .card {
    width: 33%;
}

.productAll .box-nombre-edit {
    display: flex;
    justify-content: space-between;
}

/*NOMBRE PRODUCTO*/
.productAll .estilo-c .info-container h2 {
    font-size: 16px;
    text-shadow: none;
    color: var(--azulSuave);
}

/*PRECIO PRODUCTO */
.productAll .estilo-c .info-container p {
    font-size: 24px;
    margin: 5px 0px;
    background-color: var(--aquamarineSuave);
    padding: 2px;
    color: var(--azulSuave);
}

/*CATEGORÍA PRODUCTO*/
.productAll .estilo-c .info-container h4 {
    font-size: 14px;
    text-shadow: none;
    color: var(--VioletaOscuro);
}

/*PROPIEDAD PRODUCTO*/
.productAll .estilo-c .info-container h3 {
    font-size: 24px;
}

.productAll .estilo-c .add-cart {
    font-size: 15px;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: var(--azulSuave);
    border: 1px solid white;
    border-radius: 25px;
}

@media(min-width: 460px) {
    .productAll .row {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

    .productAll article {
        width: 40%;
    }

    /*NOMBRE PRODUCTO*/
    .productAll .estilo-c .info-container h2 {
        font-size: 18px;
    }

    /*CATEGORÍA PRODUCTO*/
    .productAll .estilo-c .info-container h4 {
        font-size: 16px;
    }

    /*PROPIEDAD PRODUCTO*/
    .productAll .estilo-c .info-container h3 {
        font-size: 22px;
    }

    .productAll .estilo-c .img-container img {
        top: 0;
        height: 100%;
    }

    .productAll .estilo-c .add-cart {
        padding: 5px;
        border-radius: 15px;
        font-size: 15px;
    }

    .productAll .estilo-c:hover {
        box-shadow: 0 0 8px black;
    }
}

@media (min-width: 760px) {
    .productAll .productosRelacionados {
        margin-bottom: 30px;
        height: 60px;
        display: flex;
        flex-direction: row;
    }

    .productAll article {
        width: 30%;
        /* gap: 6px; */
    }

    /*PROPIEDAD PRODUCTO*/
    .productAll .estilo-c .info-container span {
        font-size: 15px;
    }

    .productAll .iconos-eco {
        width: 97%;
    }
}


.productAll .banner img {
    width: 100%;
    margin-bottom: -5px;
}