.carrito-contenedor {
    background-color: rgba(184, 247, 196, 0.9);
    color:rgb(92, 92, 92);
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    /* border: solid 2px orange;  */  
}

.carrito_pasos p {
    background-color: rgba(190, 118, 232, 0.3);
    width: 90%;
    padding: 20px;
    color: rgb(75, 73, 73);
    margin: 15px 0 5px;
    display: flex;
    justify-content: center;
    border: solid 3px #aa80a6;
    border-radius: 20px;
}

.carrito-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid 3px #aa80a6;
    border-radius: 20px;
}

.carrito-images {
    width: 100%;
}

.carrito-images img {
    width: 100%;
    height: 100%;
    padding: 5px;  
    border-radius: 20px;
}

.carrito-texto-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrito-titulo h3 {
    width: 100%;
    color: rgb(47, 46, 46);
    display: flex;
    justify-content: center;
    padding: 12px;
    /* border: solid 2px green; */
}
.carrito-contenedor-lista h4 {
    color: rgb(47, 46, 46);
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    /* border: solid 2px rgb(199, 71, 246); */
}

.carrito-contenedor p {
    padding: 10px;
    color: rgb(34, 34, 34);
    text-align: left;
    margin: 15px;
    /*border: solid 2px yellow; */
}

.carrito-buttons1 {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    margin: 10px 0 5px;
    display: flex;
    justify-content: space-between;
    border: solid 3px #aa80a6;
    border-radius: 20px;
    /* border: solid 2px rgb(118, 12, 12); */
}

.carrito-buttons2 button{
    background-color: rgba(190, 118, 232, 0.3);
    font-size: 17px;
    padding: 10px;
    margin: 5px 0 20px;
    border: solid 3px #aa80a6;
    border-radius: 20px;
}

.carrito-buttons2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: solid 2px rgb(118, 12, 12); */
}

.carrito-contenedor-lista {
    /* background-color: rgba(184, 247, 196, 0.8); */
    color:rgb(92, 92, 92);
    width: 100%;
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
    /* border: solid 2px orange; */ 
}

.carrito-input {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content:center;
    /* border: solid 2px rgb(199, 71, 246); */
}

.carrito-lista {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    text-shadow: 0 0 2px black;
    display: flex;
    justify-content: space-around;
    /* border: solid 2px rgb(118, 12, 12); */
}

.carrito-cupon-lista {
    width: 100%;
    border: solid 3px #aa80a6;
    border-radius: 20px;
}

.carrito-buttons3 button{
    background-color: rgba(190, 118, 232, 0.3);
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 20px;
    border: solid 3px #aa80a6;
    border-radius: 20px;
}

.carrito-buttons3 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   /* border: solid 2px rgb(118, 12, 12); */
}



            /* 460 */

 @media (min-width: 460px){
    carrito-box {
    width: 100%;
    height: 50%;
    border: solid 2px #7FA794;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
}

@media (min-width: 460px){
    .carrito-images {
    width: 60%;
}
}

@media (min-width: 460px) {
.carrito-images img {
width: 100%;
padding: 5px;  
border-radius: 20px;
display: flex;
justify-content: left;
}
}

@media (min-width: 460px) {
    .carrito-texto-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

@media (min-width: 460px) {
.carrito titulo h3 {
width: 100%;
height: 30%;
margin-top: 40px;
color: rgb(47, 46, 46);
display: flex;
justify-content: center;
padding: 20px;

/* border: solid 2px green; */
}
}

@media (min-width: 460px) {
.carrito-contenedor-lista h4 {
color: rgb(47, 46, 46);
width: 100%;
padding: 5px;
margin-top: 60px;
text-align: center;
/* border: solid 2px rgb(199, 71, 246); */
}
}



           /* 768 */
    @media (min-width: 768px){
        .carrito-contenedor {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
        }}

    @media (min-width: 768px){
            .carrito-box {
                width: 60%;
                display: flex;
                flex-wrap: wrap;
        }}

    @media (min-width: 768px){
    carrito-box {
    width: 100%;
    height: 50%;
    border: solid 2px #7FA794;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    }
}

@media (min-width: 768px){
    .carrito-images {
    width: 60%;
}
}

@media (min-width: 768px) {
.carrito-images img {
width: 100%;
padding: 5px;  
border-radius: 20px;
display: flex;
justify-content: left;
}
}

@media (min-width: 768px) {
    .carrito-texto-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

@media (min-width: 768px) {
.carrito titulo h3 {
width: 100%;
height: 30%;
margin-top: 40px;
color: rgb(47, 46, 46);
display: flex;
justify-content: center;
padding: 20px;

/* border: solid 2px green; */
}
}

@media (min-width: 768px) {
.carrito-contenedor-lista h4 {
color: rgb(47, 46, 46);
width: 100%;
padding: 5px;
margin-top: 60px;
text-align: center;
/* border: solid 2px rgb(199, 71, 246); */
}
}





/* npx nodemon app */



/*  <main>

        <section class="carrito_container">
            <div class="carrito_pasos">
                <p>paso 1 - paso 2- paso 3</p>
            </div>
            
            <article class="carrito_box">
                <div class="carrito_detalle">
                    <div class="carrito_imagen">
                        <img src="/images/producto1.jpeg" alt="">
                    </div>
                    <div class="carrito_detail-product">
                        <h3>Titulo de producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nam!</p>
                    </div>
                </div>
                <div class="carrito_articulo-buttons">
                    <button type="submit">modificar</button>
                    <button type="submit">eliminar</button>
                </div>
                </div>
            </article>

        </section>


    </main*/

