
/* start popup change-pass*/
.input-pop.active-error{
    border: 2px solid rgb(235, 78, 78);
}

.edit_user__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn_delete_user{
    background: rgb(255, 86, 86);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: none;
}

.popup-container {
    width: 300px;
    height: 320px;
    background: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
}

.popup-container i{
    display: flex;
    width: auto;
    justify-content: flex-end;
    margin: 5px;
    color: var(--verdeOscuro);
    font-size: 1.3rem;
    padding-right: 10px;
}
.contain-pop-top{
    display: flex;
    justify-content: flex-end;
}

.popup-dats{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    
}

.input-pop{
    width: 80%;
    height: 30px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--verdeOscuro);
}

.popup-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.popup-box i{
    position: absolute;
    left: 78%;
    top: 45%;
}

.show-popup{
    display:flex;
}

/* end popup change-pass*/

.errorDats{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.Edit-input.active-error{
    border: 2px solid rgb(235, 78, 78);
}

.edit_user__img input {
    display: none;
}

.change-pass {
    background-color: var(--verdeOscuro);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    margin: 30px 0;
}

.edit_user__dats h2 {
    width: 100%;
    text-align: center;
}

.edit_user__img label {
    color: var(--violetaOscuro);
    position: absolute;
    bottom: 10px;
    right: 6px;
    font-size: 25px;
    cursor: pointer;
}

.edit_user__img label i {
    text-shadow: 0 0 5px white;
}

.edit_user__container {
    width: 300px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: 1px solid var(--verdeFuerte);
    display: flex;
    flex-direction: column;
    margin: 85px auto 85px auto;

}

.edit_user__perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.edit_user__perfil .edit_user__head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
}

.editProfile h3 {
    color: var(--VioletaOscuro);
}

.edit_user__names {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.edit_user__info {
    width: 100%;
}

.Edit-input {
    width: 80%;
    margin: 5px 0 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--verdeFuerte);
    text-align: center;
}

.historial_container{
    width: 258px;
}

.user_carthistory{
    width: 100%;
    margin-bottom: 5px;
    background-color: #7FA794;
    border-radius: 5px;
    border: 1px solid var(--verdeFuerte);
}

.user_products{
    height: 20px;
}














.edit_user__info-pass {
    position: relative;
    margin: 15px 0 15px;
}

.edit_user__info {
    display: flex;
    flex-direction: column;
}

.edit_user__info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.edit_user__img {
    width: 40%;
    position: relative;
    height: 100px;
}

.edit_user__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.edit_user__options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.edit_user__options button {
    padding: 5px;
    background-color: #7FA794;
    text-align: center;
    width: 110px;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 19px;
    font-size: 14px;
    text-shadow: 0 0 2px black;
    border: none;
    cursor: pointer;
    color: white;
}

.editProfile h2 {
    margin: 10px 0 10px;
    text-shadow: none;
    color: black;
}

.edit_user__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.edit_user__dats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_image_edit_profile{
    background-color: transparent;
    border: 1px solid green;
    border-radius: 50%;
}


@media (min-width: 425px) {

    .edit_user__dats {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .edit_user__container {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 25px;
    }

    /* .edit_logo__user img {
        width: 150px;
    } */

    .edit_user__img {
        width: 100px;
    }

    .edit_logo__user {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
    }

    .edit_user__info-pass {
        position: relative;
        width: 96%;
        margin: 15px 15px;
    }

    .edit_user__head {
        justify-content: space-around;
    }

    .historial_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 645px) {

    .edit_user__info-container input {
        width: 260px;
        text-align: start;
    }

    .edit_user__info-pass {
        width: 43%;
    }

    .edit_user__names {
        width: 70%;
        margin: 0 auto;
    }

    .edit_user__perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .edit_user__options {
        flex-direction: column;
    }

    .edit_user__dats {
        flex-direction: column;
        width: 75%;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .edit_user__img {
        align-items: center;
        margin: 20px 0;
        max-width: 150px;
        max-height: 150px;
    }

    .edit_user__info-container {
        display: flex;
        flex-direction: row;
    }

    .edit_user__container {
        display: flex;
        flex-direction: row;
        width: 80%;
        max-width: 800px;
        padding: 0;
        margin: 50px auto;
    }

    .edit_user__head {
        flex-direction: column;
        justify-content: flex-start;
        width: 25%;
        border-right: 1px solid var(--verdeFuerte);
    }

    .edit_user__info-container label {
        width: 25%;
        text-align: start;
    }

    .historial_container{
        width: 80%;
        margin-left: 10%;
    }
}