/***************************************
Footer
***************************************/

footer{
    width: auto;
    margin: 0;
    padding: 0;
    /* margin-top:
    auto; */
    height: 100%;
    background: linear-gradient(0deg, rgba(127,167,148,0.7855530474040632) 0%, rgba(190,244,176,0.6591422121896162) 74%, rgba(246,243,243,0.46049661399548536) 100%);
    background: linear-gradient(360deg, rgba(127,167,148,0.45598194130925507) 0%, rgba(202,238,193,0.42889390519187354) 65%);
    background: linear-gradient(-60deg, rgb(255 255 255 / 62%) 0%, rgba(127,167,148,0.7) 65%);
}

.footer .DatFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .DatFooter .direcciones__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 15px;
    gap: 8px;
  
}

.footer .contacto__footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.footer .contacto__footer ul li{
    margin: 5px 0
}

.footer .contacto__footer ul li{
    margin: 5px 0
}

.footer__img-redes{
    width: 30px;
    height: 30px;
}

.copy__footer{
    padding: 10px 10px 2px 10px;
}

.footer .mapa{
    width: 100%;
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}



@media(min-width: 426px){


    .footer .DatFooter .contacto__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer .DatFooter .contacto__footer h3{
        display: block;
        font-size: 32px;
    }

    .footer .DatFooter .redes__footer{
        display: flex;
        flex-direction: row;
    }

    .footer .DatFooter .redes__footer li{
        margin-left: 20px;
    }

    .copy__footer{
        display: inline-flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 2px;
    }

    .footer .mapa {
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        justify-content: center;
        text-align: center;
        height: 100%;;
        margin-top: 20px;
    }

}


@media(min-width: 768px){

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      
    }
    
    .footer .DatFooter{
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }

    .footer .DatFooter .direcciones__footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        gap: 20px;
    }
    
    .footer .DatFooter .direcciones__footer a:hover{
        border: 1px solid var(--azulSuave);
        background-color: white;
        color: var(--azulSuave);
        border-radius: 8px;
        padding: 8px;
    }

    .footer .DatFooter .redes__footer li{
        margin: 0;
    }


    .footer .DatFooter .direcciones__footer li{
        width: 100%;
        margin: 0;
        text-align: center;
        padding-right: 10px;
        /* text-shadow: 13px 20px 20px black; */
    }

    .footer .DatFooter .direcciones__footer li:last-child{
        border-right: 0;
    }

    .footer .DatFooter .direcciones__footer li a{
        font-size: 26px;
    }
    

    .footer .DatFooter .contacto__footer .redes__footer{
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .footer .DatFooter .contacto__footer .redes__footer li{
        margin-right: 30px;
    }

    .footer .DatFooter .contacto__footer h3{
        display: none;
    }




}