* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates",'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: medium;
}

input{
    outline: none;
    font-family:inherit;
}

input::-ms-reveal{
    display: none;
}

li {
    list-style: none;
}

h1 {
    color: white;
    text-shadow: 0 0 13px black;
}

h1 {}

p {
    color: white;
    text-shadow: 0 0 2px black;
}

h3 {
    color: white;
    text-shadow: 0 0 2px black;
}

body {
    background-image: url("/images/background2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
