* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates",'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;

}

input{
    outline: none;
}

li {
    list-style: none;
}

h1 {
    color: white;
    text-shadow: 0 0 2px black;
}

p {
    color: white;
    text-shadow: 0 0 2px black;
}

h3 {
    color: white;
    text-shadow: 0 0 2px black;
}

body {
    background-image: url(/images/background-desktop-home.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}