.header {
    background-color: var(--verdeClaro-Opaco);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
/*     padding-bottom: 10px; */
}

/*******************************************
Header mobile
**********************************************/
.header_mobile-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}


.mobile_header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 4;
}

.mobile_logo {
    width: 25%;
    text-align: start;
    padding: 5px 0 0 5px;
    font-size: 20px;
}

.mobile_logo img {
    width: 90%;
}

.nav_mobile_menu {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 35px;
    color: var(--verdeOscuro);
    text-shadow: 1px 1px 2px black;
}

.options_mobile{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 60vw;
    height: 100vh;
    z-index: 2;
    right: 0;
    background-color: var(--verdeOscuro);
    text-align: center;
    margin-right: -60vw;
    transition: 1s;
}

.options_mobile ul li{
    border-top: 1px solid rgb(94, 94, 94);
    padding: 20px 0 20px;
}

.options_mobile ul li:last-child{
    border-bottom: 1px solid rgb(94, 94, 94);
}
.options_mobile ul li:first-child{
    margin-top: 50px;
}

.shadow_mobile{
    width: 40vw;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 2;
    margin-left: -40vw;
    transition: 1s;
}

.mostrar{
    margin-right: 0;
    position: fixed;
}

.mostrar2{
    margin-left: 0;
    position: fixed;
}

.fix_nav{
    position: fixed;
    z-index: 5;
}

.usuario_mobile{
    text-align: center;
    padding: 20px 0 20px;
    font-size: 20px;
    margin-top: 60px;
}


/*end header mobile*/

.header__logo{
    display:none;
}

.header__busqueda {
    display: none;
}

.header__opciones {
    display: none;
}

.header__user {
    display: none;
}

.header__iconos {
    display: none;
}

.header__localizacion {
    display: none;
}

.user_control{
    display: none;
}

@media(min-width: 426px) {
    .options_mobile{
        display: none;
    }

    .header_mobile-container{
        display: none;
    }

    .header {
        flex-direction: column;
        background-color: var(--transparencia);
    }

    .header__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 5px;
    }

    .header__logo {
        width: 20%;
        display: flex;
        align-self: flex-start;
        justify-content: center;
    }

    .header__logo img {
        width: 80%;
    }

    .header .logo {
        width: 100%;
    }

    .header__busqueda {
        display: flex;
        width: 55%;
        align-items: center;
    }

    .header__busqueda .barra {
        width: 90%;
        height: 35px;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid #7FA794;
    }

    .header .header__burger {
        display: none;
    }

    .header__busqueda .barra__lupa {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid lightblue;
        background-color: #7FA794;
        color: var(--verdeClaro);
        text-shadow: 0 0 1px black;
        font-size: 20px;
        margin-left: 5px;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .header__user {
        display: flex;
        align-items: center;
        font-size: 13px;
    }

    .header__user a {
        height: 36px;
    }

    .header__user p {
        display: none;
    }


    /* navegacion */
    .header__menu {
        display: none;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 50px;
    }

    .header__opciones {
        display: flex;
        width: 60%;
        font-size: 15px;
    }

    .header__opciones ul {
        display: flex;
        flex-direction: row;
        background-color: #7FA794;
        border-radius: 19px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .header__opciones li {
        border-right: solid 1px black;
        /*le coloco una linea a la derecha*/
        width: 25%;
        text-align: center;
    }

    .header__opciones li:last-child {
        border-right: none;
    }
}

@media(min-width: 768px) {

    .header__nav {
        justify-content: space-between;
    }

    .header__localizacion {
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: center;
    }

    .header__localizacion a {
        background-color: #7FA794;
        text-align: center;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 19px;
    }


    .header__iconos a img {
        width: 75%;
    }

    .header__iconos a {
        background-color: var(--verdeClaro-Opaco);
        margin-right: 2px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }


    .header__iconos {
        display: flex;
        width: 25%;
        justify-content: center;
        align-items: center;

    }

    .header__user a {
        display: flex;
        flex-direction: row;
        background-color: var(--verdeAmarillento);
        border-radius: 19px;
        width: 140px;
        height: 50px;
        justify-content: space-around;
        align-items: center;
    }

    .header__user a .icon__user {
        width: 40px;
        height: 38px;
    }

    .header__user a p {
        display: flex;
    }

}