.header {
    background-color: var(--verdeClaro-Opaco);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/* start  box favourite container */

.title_favourites {
    font-size: 1.6rem;
    text-align: center;
    color: var(--verdeOscuro);
}

.fav_empty{
    width: 300px;
    font-size: .9rem;
    color: black;
}

.icon_delete_favourite {
    font-size: 1.5rem;
    color: rgb(235, 102, 102);
    position: absolute;
    right: -12px;
    top: 0%;
}

.favourite_container {

    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-color: rgba(0, 0, 0, .4); */
    /* backdrop-filter: blur(5px); */
    z-index: 50;
    text-align: center
}

.box_favourite_container {
    position: fixed;
    z-index: 50;
    width: 300px;
    height: 100vh;
    background-color: rgba(205, 226, 229, .9);
    /* background-color: rgba(96, 153, 162,0.9); */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 0;
    margin-left: -300px;
    transition: .9s;
}

.activefav {
    margin-left: 0;
}

.close_fav {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    width: 1rem;
    height: 1rem;
}

.box_favourite_container::-webkit-scrollbar {
    display: none;
}

.box_favourite_product {
    width:100%;
    height: 100px;
    display: flex;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #539199;
    position: relative;
    margin: 10px 0;

}

.box_favourite_product_image {
    padding: 5px;
    height: 100%;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0;
    overflow: hidden;
    border: 1px solid #539199;
}

.favourite_product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.box_favourite_product_description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: auto;
    font-size: 13px;
    text-align: start;
}


/* end box favourite container */


/*******************************************
start Emergent mobile
**********************************************/

.nav_emergente {
    position: fixed;
    width: 80px;
    height: 200px;
    display: flex;
    flex-direction: row;
    right: 0;
    top: 25%;
    margin-right: -50px;
    z-index: 9;
    transition: all 1s;

}

.solapa {
    width: 34px;
    height: 35px;
    position: absolute;
    margin-top: 1px;
    left: 0;
    background-color: var(--verdeOscuro);
    border-radius: 25px 0 0 25px;
    transition: all 1s;
}

.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 30%;
    top: 25%;
    font-size: 1rem;
    color: white;

}

.nav_options-emergente {
    width: 33px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 8px;
    gap: 10px;
}

.nav_options-emergente a {
    padding: 10px;
    background-color: var(--verdeOscuro);
    border-radius: 50%;

}

.nav_options-emergente span {
    padding: 10px;
    background-color: var(--verdeOscuro);
    border-radius: 50%;
    color: white;
}

.show_nav_mobile {
    margin-right: 5px;
    position: fixed;
}

.solapa1 {
    width: 15px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: rotate(-45deg);
    transition: all 1s;
}

.solapa2 {
    width: 15px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: rotate(45deg);
    transition: all 1s;
}

.active1 {
    transform: rotate(45deg);
}

.active2 {
    transform: rotate(-45deg);
}

.active3 {
    border-radius: 50%;
}

/*end Emergent mobile*/

/*******************************************
Header mobile
**********************************************/
.nav_left-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.box_btn-search {
    font-size: 1.5rem;
    color: var(--verdeOscuro);
    text-shadow: 0 0 2px black;
}

.box_nav_search-mobile {
    width: 100vh;
    height: 100vh;
    position: fixed;
    z-index: 40;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(1px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
}

.activeSearch {
    visibility: visible;
    opacity: 1;
}

.navSearchBar {
    position: absolute;
    width: 97vw;
    top: 5px;
    z-index: 50;
    padding: 5px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.2rem;
}

.header_mobile-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;

}

.usuario_mobile-log a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.usuario_mobile-log img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.mobile_header {
    width: 100vw;
    height: 70px;
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 5;
}

.mobile_logo {
    width: 25%;
    text-align: start;
    padding: 5px 0 0 5px;
    font-size: 20px;
}

.mobile_logo img {
    width: 90%;
    filter: drop-shadow(0 0 5px #2E4A2F)
}

.navBurger {
    position: absolute;
    font-size: 30px;
    color: var(--verdeOscuro);
    transition: all .5s ease-in-out;
    text-shadow: 1px 1px black;
}

.navClose {
    position: absolute;
    color: var(--verdeOscuro);
    font-size: 30px;
    transform: scale(0);
    transition: all .5s ease-in-out;
}

.active.navBurger {
    transform: scale(0);
}

.active.navClose {
    transform: scale(1);
    color: black;
}

.nav_mobile_menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;

}

.options_mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    right: 0;
    background-color: var(--verdeOscuro);
    text-align: center;
    margin-right: -100vw;
    transition: 1s;
}

.options_mobile ul li {
    border-top: 1px solid rgb(94, 94, 94);
    padding: 20px 0 20px;
}

.options_mobile ul li:last-child {
    border-bottom: 1px solid rgb(94, 94, 94);
}

.options_mobile ul li:first-child {
    margin-top: 50px;
}

.mostrar {
    margin-right: 0;

}

.usuario_mobile {
    text-align: center;
    padding: 20px 0 20px;
    font-size: 20px;
    margin-top: 60px;
}


/*end header mobile*/

.header__logo {
    display: none;
}

.header__busqueda {
    display: none;
}

.header__opciones {
    display: none;
}

.header__user {
    display: none;
}

.header__iconos {
    display: none;
}

.header__localizacion {
    display: none;
}

.user_control {
    display: none;
}

@media(min-width: 426px) {

    .header__opciones ul li a {
        font-size: .8rem;
    }

    .box_nav_search-mobile {
        display: none;
    }

    .header__iconos a i {
        width: 75%;
        color: var(--verdeClaro);
        font-size: 20px;
    }

    .header__iconos span {
        width: 75%;
        color: var(--verdeOscuro);
        font-size: 20px;
    }

    .header__iconos a,
    .header__iconos span {
        background-color: var(--verdeClaro-Opaco);
        margin-left: 5px;
        height: 40px;
        width: 37px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid var(--verdeOscuro);
        cursor: pointer;
    }

    /* .header__iconos span {
        padding: 3px;
        color: var(--verdeOscuro);
        font-size: 20px;
    } */


    .header .logout {
        width: 45px;
        height: 45px;
        font-size: 20px;
        background-color: #7FA794;
    }

    .options_mobile {
        display: none;
    }

    .header_mobile-container {
        display: none;
    }

    .header {
        flex-direction: column;
        background-color: var(--transparencia);
    }

    .header__container {
        /* width: 100%; */
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding-bottom: 5px; */
        margin: 20px 3%;
    }

    .header__logo {
        width: 20%;
        display: flex;
        justify-content: center;
        filter: drop-shadow(0 0 15px var(--verdeOscuro))
    }

    .header__logo a {
        display: flex;
        justify-content: flex-start;
    }

    .header__logo img {
        width: 100%;
    }

    .header .logo {
        width: 100%;
    }

    .header__busqueda {
        display: flex;
        width: 55%;
        align-items: center;
    }

    .header__busqueda .barra {
        width: 90%;
        height: 35px;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid #7FA794;
    }

    .header .header__burger {
        display: none;
    }

    .header__busqueda .barra__lupa {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid lightblue;
        background-color: #7FA794;
        color: var(--verdeClaro);
        text-shadow: 0 0 1px black;
        font-size: 20px;
        margin-left: 5px;
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    .header__user {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        gap: 15px;
        width: 20%;
    }

    .header__user a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        border-radius: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7FA794;
    }

    .header__user p {
        display: none;
    }


    /* navegacion */
    .header__menu {
        display: none;
    }

    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 50px;
    }

    .header__opciones {
        display: flex;
        width: 60%;
        font-size: 15px;
    }

    .header__opciones ul {
        display: flex;
        flex-direction: row;
        background-color: #7FA794;
        border-radius: 19px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        font-size: .75rem;
    }

    .header__opciones li {
        border-right: solid 1px black;
        /*le coloco una linea a la derecha*/
        width: 25%;
        text-align: center;
    }

    .header__opciones li:last-child {
        border-right: none;
    }

    .header_image-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

@media(min-width: 768px) {

    .header__logo img {
        width: 60%;
    }

    .header__opciones ul li a {
        font-size: 1.1rem;
    }

    .nav_emergente {
        display: none;
    }

    .header__iconos a i {
        font-size: 20px;
    }

    .header__iconos a {
        background-color: var(--verdeClaro-Opaco);
        margin-right: 10px;
        height: 40px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }

    .header__nav {
        justify-content: space-between;
    }

    .header__localizacion {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: flex-start;
        margin-left: 3%;
    }

    .header__localizacion a {
        background-color: #7FA794;
        text-align: center;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 19px;
    }

    .header__iconos {
        display: flex;
        width: 20%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3%;
    }

    .header__user a i {
        font-size: 24px;
    }

    .header__user a p {
        font-size: 15px;
    }

    .header__user a {
        display: flex;
        flex-direction: row;
        background-color: #7FA794;
        padding: 10px;
        border-radius: 19px;
        width: auto;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        transition: .5s;
        gap: 10px;
    }

    .header__user a:hover {
        transform: scale(1.1);
    }

    .header__user a .icon__user {
        font-size: 36px;
    }

    .header__user a p {
        display: flex;
    }

}