.home .carrusel__home {
    width: 100%;
    height: 200px;
    background-image: url(/images/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.home .carrusel__home .banner{
    width: 150px;
}


/*************************************************
primera parte del main
*************************************************/
.home .sect1 {
    position: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home main .subtitulo__home {
    width: 300px;
    margin: 50px auto 30px auto;
}

.home main .subtitulo__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect1 .art__home {
    background-color: var(--verdeClaro);
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.home .sect1 .art__home .nombreart__home {
    text-align: center;
    background-color: #7FA794;
    border-radius: 19px;
    width: 85%;
    height: 30px;
    margin: 10px auto;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 .art__home .imgart__home {
    display: flex;
    justify-content: center;
}

.home main .sect1 .art__home .imgart__home img {
    width: 85%;
    height: 270px;
}

.home main .sect1 article .verart__home {
    background-color: #7FA794;
    width: 50%;
    height: 35px;
    text-align: center;
    margin: 15px auto;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 article .verart__home a {
    text-decoration: none;
    font-size: 20px;
}

.home .vermas__home .vermas-general {
    background-color: #7FA794;
    width: 150px;
    height: 35px;
    text-align: center;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal del contenido*/
    align-items: center;
    /*alineacion vertical del contenido*/
}

.home .vermas__home .vermas-general a {
    text-decoration: none;
    font-size: 20px;
}

.home main .vermas__home {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.precio{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}

.precio h4{    
    text-decoration: line-through;/*tachamos el precio*/
    color: var(--azulMarino);
}
.precio p{
    font-size: 30px;
    color: black;
    margin-left: 10px;
}


/******************************************
segunda parte del main
******************************************/

.home .sect2 {
    position: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home .nombre-categorias__home {
    margin-bottom: 30px;
    width: 200px;
    margin: 50px auto 30px auto;
}

.home .nombre-categorias__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect2 .categorias__home {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}




#cate {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




.home .sect2 .categorias__home .corporal__home {
    /* background-image: url(/images/shampoo-argán.jpg); */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(/images/producto1.jpeg);
    background-size: cover;
    transition: all 0.5s;
}



.home .sect2 .categorias__home .capilar__home {
    /* background-image: url(/images/acondicionador-natural-de-coco-3.jpg); */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(/images/producto2.jpeg);
    background-size: cover;
    transition: all 0.5s;
}

.home .sect2 .categorias__home .spa__home {
    /* background-image: url(/images/2en1almendras.jpg); */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(/images/producto3.jpeg);
    background-size: cover;
    transition: all 0.5s;

}


.barra__cate__home {
    width: 100%;
    top: 45%;
    height: 40px;
    position: absolute;
    background-color: var(--VerdeClaro-Opaco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.barra__cate__home p{
    font-size: 24px;
}



@media(min-width:426px) {


    .home main .sect1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .home main .sect1 .art__home {
        width: 270px;
    }

    .home main .sect1 .art__home .imgart__home img {
        height: 200px;
    }

    .home main .sect1 article .verart__home {
        margin: 15px 65px 15px auto;
    }

    .home .vermas__home .vermas-general {
        margin-right: 20px;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    .home main .subtitulo__home h1 {
        padding: 5px;
        
    }

    .home main .nombre-categorias__home h1 {
        padding: 5px;
    }


    /*Seccion 2 del home*/

    .home .sect2 {
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home {
        width: 250px;
        height: 250px;
    }

}


@media(min-width: 768px) {

    .home main .sect1 #art__home4 {
        display: none;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    /*Seccion 2 del home*/
    .home .sect2 {
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home{
        width: 275px;
        height: 275px;
    }

    .home .sect2 .categorias__home .capilar__home,
    .home .sect2 .categorias__home .corporal__home,
    .home .sect2 .categorias__home .spa__home{
        filter: blur(3px);

    }

    .home .sect2 .categorias__home .barra__cate__home{
        transition: all 0.5s;
    }


    .home .sect2 .categorias__home:hover .corporal__home,
    .home .sect2 .categorias__home:hover .barra__cate__home,
    .home .sect2 .categorias__home:hover .capilar__home,
    .home .sect2 .categorias__home:hover .spa__home{
        transform: scale(1.1);
        filter: blur(0px);
    }


}