.home .carrusel__home {
    width: 100%;
    height: 200px;
    background-image: url(/images/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


/************************************************
ANIMACIÓN DE INTRO
*************************************************/

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/fondo-intro.gif);
    transition: 1.5s;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 1px 3px black;
}

.welcome-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 1px 3px black;
}

.letter {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 1.1rem;
}

.letter.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.letter.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

#pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    opacity: 0;
}

#pic.active {
    opacity: 1;
    transition: 0.5s;
}



/**********************************************
Carrusel
**********************************************/
.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.slides input {
    display: none;
}

.slides {
    width: 500%;
    height: 100vh;
    display: flex;
}

.slides p {
    position: absolute;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    padding: 100px 0 100px;
}

/* .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.img_1 {
    width: 100%;
    height: 100%;
    background-image: url(/images/ViveBio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_2 {
    width: 100%;
    height: 100%;
    background-image: url(/images/ViveBio-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_3 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_4 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.slide {
    width: 20%;
    transition: 2s;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    top: 95%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--verdeOscuro);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}


#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    top: 95%;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid var(--verdeOscuro);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--verdeOscuro);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--verdeOscuro);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--verdeOscuro);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: var(--verdeOscuro);
}



/*************************************************
primera parte del main
*************************************************/
.home .sect1 {
    position: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home main .subtitulo__home {
    width: 300px;
    margin: 50px auto 30px auto;
}

.home main .subtitulo__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect1 .art__home {
    background-color: var(--verdeClaro);
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.home .sect1 .art__home .nombreart__home {
    text-align: center;
    background-color: #7FA794;
    border-radius: 12px;
    width: 85%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 .art__home .imgart__home {
    display: flex;
    justify-content: center;
}

.home main .sect1 .art__home .imgart__home img {
    width: 85%;
    height: 270px;
}

.home main .sect1 article .verart__home {
    background-color: #7FA794;
    width: 50%;
    height: 35px;
    text-align: center;
    margin: 15px auto;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 article .verart__home a {
    text-decoration: none;
    font-size: 20px;
}

.home .vermas__home .vermas-general {
    background-color: #7FA794;
    width: 150px;
    height: 35px;
    text-align: center;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal del contenido*/
    align-items: center;
    /*alineacion vertical del contenido*/
}

.home .vermas__home .vermas-general a {
    text-decoration: none;
    font-size: 20px;
}

.home main .vermas__home {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.precio {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}

.precio h4 {
    text-decoration: line-through;
    /*tachamos el precio*/
    color: var(--azulMarino);
}

.precio p {
    font-size: 30px;
    color: black;
    margin-left: 10px;
}


/******************************************
segunda parte del main
******************************************/

.home .sect2 {
    position: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home .nombre-categorias__home {
    margin-bottom: 30px;
    width: 200px;
    margin: 50px auto 30px auto;
}

.home .nombre-categorias__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect2 .categorias__home {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}




#cate {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




.home .sect2 .categorias__home .BioCorporal__home {
    /* background-image: url(/images/shampoo-argán.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/producto1.jpeg);
    background-size: cover;
    transition: all 0.5s;
}



.home .sect2 .categorias__home .BioCapilar__home {
    /* background-image: url(/images/acondicionador-natural-de-coco-3.jpg); */
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/producto2.jpeg);
    background-size: cover;
    transition: all 0.5s;
}

.home .sect2 .categorias__home .BioSpa__home {
    /* background-image: url(/images/2en1almendras.jpg); */
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/producto3.jpeg);
    background-size: cover;
    transition: all 0.5s;

}


.barra__cate__home {
    width: 100%;
    top: 45%;
    height: 40px;
    position: absolute;
    background-color: var(--VerdeClaro-Opaco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.barra__cate__home p {
    font-size: 24px;
}



@media(min-width:426px) {

    /* START CARROUSEL TABLET*/
    .slider {
        margin: 50px 0 50px;
        height: 300px;
    }

    .slides p {
        top: 23%;
        padding: 70px;
    }
    /*END CAROUSEL TABLET*/
    .mobile_header {
        display: none;
    }

    .letter {
        font-size: 2rem;
    }


    .home main .sect1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .home main .sect1 .art__home {
        width: 270px;
    }

    .home main .sect1 .art__home .imgart__home img {
        height: 200px;
    }

    .home main .sect1 article .verart__home {
        margin: 15px 65px 15px auto;
    }

    .home .vermas__home .vermas-general {
        margin-right: 20px;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    .home main .subtitulo__home h1 {
        padding: 5px;

    }

    .home main .nombre-categorias__home h1 {
        padding: 5px;
    }


    /*Seccion 2 del home*/

    .home .sect2 {
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home {
        width: 250px;
        height: 250px;
    }

}


@media(min-width: 768px) {

    .letter {
        font-size: 2.5rem;
    }

    .home main .sect1 #art__home4 {
        display: none;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    /*Seccion 2 del home*/
    .home .sect2 {
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home {
        width: 275px;
        height: 275px;
    }

    .home .sect2 .categorias__home .BioCapilar__home,
    .home .sect2 .categorias__home .BioCorporal__home,
    .home .sect2 .categorias__home .BioSpa__home{
        filter: blur(3px);

    }

    .home .sect2 .categorias__home .barra__cate__home {
        transition: all 0.5s;
    }


    .home .sect2 .categorias__home:hover .BioCorporal__home,
    .home .sect2 .categorias__home:hover .barra__cate__home,
    .home .sect2 .categorias__home:hover .BioCapilar__home,
    .home .sect2 .categorias__home:hover .BioSpa__home{
        transform: scale(1.1);
        filter: blur(0px);
    }


}