.home .carrusel__home {
    width: 100%;
    height: 200px;
    background-image: url(/images/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/************************************************
ANIMACIÓN DE INTRO
*************************************************/
/* 
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/fondo-intro.gif);
    transition: 1.5s;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 1px 3px black;
}

.welcome-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 1px 3px black;
}

.letter {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 1.1rem;
}

.letter.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.letter.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

#pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    opacity: 0;
}

#pic.active {
    opacity: 1;
    transition: 0.5s;
}
 */


/**********************************************
Carrusel
**********************************************/
.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.slides input {
    display: none;
}

.slides {
    width: 500%;
    height: 100vh;
    display: flex;
}

.slides p {
    position: absolute;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    padding: 50px 5px 50px;
    font-size: .9rem;
}


.img_1 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_2 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_3 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.img_4 {
    width: 100%;
    height: 100%;
    background-image: url(/images/carousel_img_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.slide {
    width: 20%;
    transition: 2s;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    top: 95%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--verdeOscuro);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}


#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    top: 95%;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid var(--verdeOscuro);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--verdeOscuro);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--verdeOscuro);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--verdeOscuro);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: var(--verdeOscuro);
}


/** carrousel products **/

.home .carrousel_product_container {
    margin: auto;
    display: flex;
    align-items: center;
    width: 300px;
    height: 426px;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    flex-direction: row;
}

.home .carrousel_product_container::-webkit-scrollbar {
    display: none;
}

.box-swiper {
    margin: 0 25px;

}

.box-swiper:first-child {

    animation: moving 35s ease infinite;
    animation-delay: 1s;

}

@keyframes moving {

    0% {
        margin-left: 25px;
    }

    10% {
        margin-left: -90%;
    }

    20% {
        margin-left: -190%;
    }

    30% {
        margin-left: -290%;
    }

    40% {
        margin-left: -390%;
    }

    50% {
        margin-left: -490%;
    }

    60% {
        margin-left: -590%;
    }

    70% {
        margin-left: -690%;
    }

    80% {
        margin-left: -790%;
    }

    90% {
        margin-left: -890%;
    }


}

.box-swiper:first-child.disableMove {
    animation-play-state: paused;
}

/** end carrousel products **/
/*************************************************
primera parte del main
*************************************************/



.home .izquierda,
.home .derecha {
    display: none;
}

.home main .subtitulo__home {
    width: 300px;
    margin: 50px auto 30px auto;
}

.home main .subtitulo__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect1 .art__home {
    background-color: var(--verdeClaro);
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home .part_2 {
    display: none;
}


.home .sect1 .art__home .nombreart__home {
    text-align: center;
    background-color: #7FA794;
    border-radius: 12px;
    width: 85%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 .art__home .imgart__home {
    display: flex;
    justify-content: center;
}

.home main .sect1 .art__home .imgart__home img {
    width: 85%;
    height: 270px;
}

.home main .sect1 article .verart__home {
    background-color: #7FA794;
    width: 50%;
    height: 35px;
    text-align: center;
    margin: 15px auto;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.home main .sect1 article .verart__home a {
    text-decoration: none;
    font-size: 20px;
}

.home .vermas__home .vermas-general {
    background-color: #7FA794;
    width: 150px;
    height: 35px;
    text-align: center;
    border-radius: 19px;
    display: flex;
    /*coloco como un contenedor flex*/
    justify-content: center;
    /*alineacion horizontal del contenido*/
    align-items: center;
    /*alineacion vertical del contenido*/
}

.home .vermas__home .vermas-general a {
    text-decoration: none;
    font-size: 20px;
}

.home main .vermas__home {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.precio {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}

.precio h4 {
    text-decoration: line-through;
    /*tachamos el precio*/
    color: var(--azulMarino);
}

.precio p {
    font-size: 30px;
    color: black;
    margin-left: 10px;
}


/******************************************
segunda parte del main
******************************************/

.home .sect2 {
    position: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.home .nombre-categorias__home {
    margin-bottom: 30px;
    width: 200px;
    margin: 50px auto 30px auto;
}

.home .nombre-categorias__home h1 {
    background-color: var(--verdeClaro);
    color: var(--VioletaOscuro);
    border-radius: 19px;
    font-size: 28px;
    text-align: center;
}

.home .sect2 .categorias__home {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}




#cate {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}




.home .sect2 .categorias__home .BioCorporal__home {
    /* background-image: url(/images/shampoo-argán.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/products/producto1.jpeg);
    background-size: cover;
    transition: all 0.5s;
}



.home .sect2 .categorias__home .BioCapilar__home {
    /* background-image: url(/images/acondicionador-natural-de-coco-3.jpg); */
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/products/producto2.jpeg);
    background-size: cover;
    transition: all 0.5s;
}

.home .sect2 .categorias__home .BioSpa__home {
    /* background-image: url(/images/2en1almendras.jpg); */
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/images/products/producto3.jpeg);
    background-size: cover;
    transition: all 0.5s;

}


.barra__cate__home {
    width: 100%;
    top: 45%;
    height: 40px;
    position: absolute;
    background-color: var(--VerdeClaro-Opaco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.barra__cate__home p {
    font-size: 24px;
}

/*Titulares*/
.home .titulares {
    text-align: center;
    color: white;
    background-color: #7FA794C4;
    border-radius: 20px;
    margin: 20px auto 20px;
    padding: 10px;
    width: 95%;
    border-radius: 20px;
    padding: 10px;
}

.home .titulares h1 {
    font-size: 25px;
}

.home .productosRelacionados {
    color: white;
    background-color: var(--verdeOscuro);
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .card.estilo-c {
    width: 250px;
}


.home .estilo-c .img-container .promo {
    position: absolute;
    background: var(--aquamarine);
    top: 10px;
    left: 0;
    font-size: 20px;
    padding: 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: var(--azulMarino);
}

.home .estilo-c .img-container {
    overflow: hidden;
    height: 350px;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}

.home .estilo-c .img-container img {
    width: 100%;
    position: absolute;
    transition: all 1.5s;
    height: 100%;
    object-fit: cover;
}

.home .estilo-c:hover .img-container img {
    transform: scale(1.4);

}

.home .estilo-c .info-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #7fa794cb;
    text-align: center;
    color: var(--VioletaOscuro);
    opacity: 0;
    transition: all 0.8s;
    z-index: 1000;
    position: absolute;
    top: 58%;
    right: -85%;
    width: 100%;
    height: 100%;
}

.home .estilo-c .img-container .info-container {
    opacity: 1;
    right: 0px;
}

.home .card {
    width: 33%;
}

.home .box-nombre-edit {
    display: flex;
    justify-content: space-between;
}

/*NOMBRE PRODUCTO*/
.home .estilo-c .info-container h2 {
    font-size: 18px;
    text-shadow: none;
    color: var(--azulSuave);
}

/*PRECIO PRODUCTO */
.home .estilo-c .info-container p {
    font-size: 24px;
    margin: 5px 0px;
    background-color: var(--aquamarineSuave);
    padding: 2px;
    color: var(--azulSuave);
}

/*CATEGORÍA PRODUCTO*/
.home .estilo-c .info-container h4 {
    font-size: 14px;
    text-shadow: none;
    color: var(--VioletaOscuro);
}

/*PROPIEDAD PRODUCTO*/
.home .estilo-c .info-container h3 {
    font-size: 24px;
}

.home .estilo-c .add-cart {
    font-size: 15px;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: var(--azulSuave);
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
}


.home .producto-iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.home .producto-iconos a,
.home .producto-iconos button {
    display: flex;
    gap: 15px;
    background-color: var(--verdeClaro-Opaco);
    color: white;
    text-shadow: 0 0 2px black;
    /* margin-right: 10px; */
    height: 40px;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px white;
    margin: 10px;
}

.home .add_product_cart {
    display: inline-flex;
    gap: 15px;
    background-color: var(--verdeClaro-Opaco);
    margin-right: 10px;
    height: 40px;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px white;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 20px;
}

.home .producto-iconos form button {
    display: inline-flex;
    gap: 15px;
    background-color: var(--verdeClaro-Opaco);
    margin-right: 10px;
    height: 40px;
    width: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px white;
    color: white;

}

.home .producto-iconos a:hover {
    color: var(--azulMarino);
    background-color: white;
    border: 1px solid var(--azulMarino);
}

.card_barra {
    display: none;
    position: absolute;
    font-size: 24px;
    margin-top: -23px;
    margin-left: -4px;
}

@media(min-width:426px) {
    @keyframes moving {

        0% {
            margin-left: 40px;
        }

        10% {
            margin-left: -100%;
        }

        20% {
            margin-left: -210%;
        }

        30% {
            margin-left: -320%;
        }

        40% {
            margin-left: -430%;
        }

        50% {
            margin-left: -540%;
        }

        60% {
            margin-left: -650%;
        }

        70% {
            margin-left: -760%;
        }

        80% {
            margin-left: -870%;
        }

        90% {
            margin-left: -980%;
        }


    }

    .box-swiper {
        margin: 0 40px;
    }

    .box-swiper:first-child {

        animation: moving 35s ease infinite;
        animation-delay: 2s;

    }

    .home .carrousel_product_container {
        /* width: 80%; */
        width: 500px;
    }

    /* START CARROUSEL TABLET*/
    .img_1 {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9)20%, rgba(0, 0, 0, 0.1)), url(/images/carousel_img_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .img_2 {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9)20%, rgba(0, 0, 0, 0.1)), url(/images/carousel_img_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .img_3 {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9)20%, rgba(0, 0, 0, 0.1)), url(/images/carousel_img_3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .img_4 {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9)20%, rgba(0, 0, 0, 0.1)), url(/images/carousel_img_4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .slider {
        margin: 60px auto 60px;
        height: 400px;
        width: 95%;
        border-radius: 10px;
        border: 1px solid var(--verdeOscuro);
    }

    .slides p {
        background-color: unset;
        font-size: .9rem;
        top: 35%;
        text-align: start;
        padding: 20px;
        letter-spacing: 2px;
        width: 60%;
    }

    .slides {
        height: 400px;
    }

    /*END CAROUSEL TABLET*/
    .mobile_header {
        display: none;
    }

    .letter {
        font-size: 2rem;
    }


    .home main .sect1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .home main .sect1 .art__home {
        width: 260px;
    }

    .home main .sect1 .art__home .imgart__home img {
        height: 200px;
    }

    .home main .sect1 article .verart__home {
        margin: 15px 65px 15px auto;
    }

    .home .vermas__home .vermas-general {
        margin-right: 20px;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    .home main .subtitulo__home h1 {
        padding: 5px;

    }

    .home main .nombre-categorias__home h1 {
        padding: 5px;
    }


    /*Seccion 2 del home*/

    .home .sect2 {
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home {
        width: 250px;
        height: 250px;
    }


    /*Productos en Oferta*/
    .home .row {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /*NOMBRE PRODUCTO*/
    .home .estilo-c .info-container h2 {
        font-size: 18px;
    }

    /*CATEGORÍA PRODUCTO*/
    .home .estilo-c .info-container h4 {
        font-size: 16px;
    }

    /*PROPIEDAD PRODUCTO*/
    .home .estilo-c .info-container h3 {
        font-size: 22px;
    }

    .home .estilo-c .img-container img {
        top: 0;
        height: 100%;
    }

    .home .estilo-c .add-cart {
        padding: 5px;
        border-radius: 15px;
        font-size: 15px;
    }

    .home .estilo-c:hover {
        box-shadow: 0 0 20px aquamarine;
    }


    .home .titulares h1 {
        border-radius: 10px;
        font-size: 2.4rem;
    }

    /* .home .estilo-c .img-container .info-container {
    opacity: 0;
    right: 0px;
}
.home .estilo-c .img-container:hover .info-container {
    opacity: 1;
    right: 0px;
} */

}


@media(min-width: 768px) {
    @keyframes moving {

        0% {
            margin-left: 0;
        }

        20% {
            margin-left: -82%;
        }

        40% {
            margin-left: -165%;
        }

        60%{
            margin-left: -247%;
        }

        80%{
            margin-left: -305%
        }

    }

    .box-swiper {
        margin: 0 30px;
    }

    .box-swiper:first-child {

        animation: moving 20s ease infinite;
        animation-delay: 2s;
        margin-left:0 ;

    }

    .home .carrousel_product_container {
        width: 750px;
    }

    .slides p {
        width: 40%;
        font-size: 1.2rem;
    }

    .home .products {
        position: relative;
    }

    .home .izquierda,
    .home .derecha {
        display: block;
        position: absolute;
        font-size: 75px;
        color: var(--verdeClaro);
    }

    .home .izquierda {
        left: 1%;
        top: 30%;
    }

    .home .derecha {
        right: 51%;
        top: 30%;
    }

    .home .products {
        width: 200%;
        display: flex;
        row-gap: row;
    }

    .home main .sect1 {
        width: 100%;
    }

    .home .part_2 {
        display: block;
    }

    .letter {
        font-size: 2.5rem;
    }

    .home main .sect1 #art__home4 {
        display: none;
    }

    .home main .subtitulo__home {
        width: 315px;
    }

    .home main .nombre-categorias__home {
        width: 315px;
    }

    /*Seccion 2 del home*/
    .home .sect2 {
        justify-content: space-evenly;
    }

    .home .sect2 .categorias__home {
        width: 275px;
        height: 275px;
    }

    .home .sect2 .categorias__home .BioCapilar__home,
    .home .sect2 .categorias__home .BioCorporal__home,
    .home .sect2 .categorias__home .BioSpa__home {
        filter: blur(3px);

    }

    .home .sect2 .categorias__home .barra__cate__home {
        transition: all 0.5s;
    }


    .home .sect2 .categorias__home:hover .BioCorporal__home,
    .home .sect2 .categorias__home:hover .barra__cate__home,
    .home .sect2 .categorias__home:hover .BioCapilar__home,
    .home .sect2 .categorias__home:hover .BioSpa__home {
        transform: scale(1.1);
        filter: blur(0px);
    }

    /*Porductos en oferta*/

    .home .productosRelacionados {
        margin-bottom: 30px;
        height: 60px;
        display: flex;
        flex-direction: row;
    }

    .home .iconos-eco {
        width: 97%;
    }

    .container-imagen-texto {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .home .estilo-c .info-container {
        top: 55%;
    }
}

@media(min-width:1200px){
    @keyframes moving {

        0% {
            margin-left: 0;
        }

        30% {
            margin-left: -85%;
        }

        60% {
            margin-left: -169%;
        }

        70%{
            margin-left: -178%;
        }


    }

    .box-swiper {
        margin: 0 30px;
    }

    .box-swiper:first-child {

        animation: moving 20s ease infinite;
        animation-delay: 2s;
        margin-left:0 ;

    }

    .home .carrousel_product_container {
        width: 1100px;
    }
}