.list .list__container {
    width: 90%;
    padding: 20px;
    margin: 0px auto 85px auto;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: 1px solid var(--verdeFuerte);
}

.list .select__list select,
.list__cates select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.list__cate{
    width: 100%;
}

.list .select__list,
.list__cates .list__categories__select{
    max-width: 250px;
    position: relative;
}

.list .select__list select,
.list__cates select{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family:
        'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.list__container__options {
    width: 50%;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    justify-content: space-between;
}



.list .select__list i,
.list__cates i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #2AC176;
    border-bottom: 4px solid #2AC176;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.list .select__list:hover i,
.list__cates div:hover i {
    margin-top: 3px;
}




.list .list__top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--verdeFuerte);
    padding-bottom: 10px;
}

.list .list__cates {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 90px;
    border: 1px solid var(--verdeFuerte);
    border-radius: 5px;
    background-color: var(--verdeClaro-Opaco);
    align-items: center;
    order: 2;
}

.list .list__cates a {
    color: var(--verdeOscuro);
    text-align: center;

}

.list .list__cates .list__cates1,
.list .list__cates .list__cates2 {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}



.list .list__busqueda {
    width: 100%;
    display: flex;
    height: 50px;
    row-gap: row;
    justify-content: center;
    align-items: center;
    order: 1;
}

.list .list__busqueda input {
    width: 60%;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #7FA794;
}

.list .list__busqueda button {
    background-color: var(--verdeOscuro);
    color: black;
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 15px;
    margin-left: 5px;
}

.list .list__headproducts {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.list .list__id {
    width: 10%;
    text-align: center;
    display: none;
    color: var(--verdeFuerte);
}

.list .list__name {
    width: 65%;
    display: flex;
    align-items: center;
    color: var(--verdeFuerte);

}

.list .list__price {
    width: 25%;
    display: none;
}

.list .list__options {
    width: 35%;
}

.list .list__products {
    display: flex;
    flex-direction: column;
}




.list .list__product {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--verdeFuerte);
}

.list .list__products .list__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list .list__products .list__options:last-child {
    margin-right: 10px;
}


.list .list__edit,
.list .list__delete {
    height: 35px;
    width: 33px;
    border: none;
    font-size: 15px;
    background-color: var(--azulSuave);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
    align-content: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}






@media(min-width:426px) {

    .list .list__id {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list .list__name {
        width: 65%;
        display: flex;
        align-items: center;
    }

    .list .list__options {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }


    .list .list__busqueda {
        width: 50%;
        order: 1;
    }

    .list .list__cates {
        width: 50%;
        order: 0;
    }


    .list .list__top {
        flex-direction: row;
    }

}

@media(min-width:760px) {

    .list .list__id {
        width: 7%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .list .list__name {
        width: 58%;
        display: flex;
        align-items: center;
    }

    .list .list__price {
        width: 20%;
        display: flex;
        align-items: center;
    }

    .list .list__options {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .list .select__list select,
    .list__cates div select{
        width: 165px;
    }

    .list__container__options {
        width: 70%;
        margin: 55px 5% 5px auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .list__options_top{
        width: 150px;
        margin-right: 5px;
    }

    .list .select__list select:hover,
    .list .list__cates div select:hover{
        background: #B1E8CD;
    }

    .list .list__cates .list__cates1,
    .list .list__cates .list__cates2 {
        width: 100%;
        flex-direction: row;
    }
    .list__cate{
        width: 33%;
    }

    .list .list__cates {
        flex-direction: row;
        width: 60%;
        height: 50px;
    }

    .list__busqueda {
        width: 40%;
    }
}