.list .list__container {
    width: 90%;
    max-width: 550px;
    padding: 20px;
    margin: 0 auto 2rem;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    backdrop-filter: blur(5px);
    border: 1px solid var(--verdeFuerte);
}

.list__container__options{
    position: relative;
    margin: 90px auto 30px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-select {
    padding: 10px;
    border: 1px solid var(--verdeOscuro);
    background-color: var(--verdeClaro-Opaco);
    border-radius: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add_product_list {
    font-size: .8rem;
    color: black;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--verdeOscuro);
    width: auto;
    background-color: var(--verdeClaro-Opaco);
    text-shadow: none;
    cursor: pointer;
}

.list__categorie__select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__cates {
    width: 100%;
}

.list__cates1 {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.list__cate {
    width: 100%;
}

.list .list__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--verdeFuerte);
    padding-bottom: 10px;
}

.list .list__busqueda {
    width: 303px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    order: 1;
}

.list .list__busqueda input {
    width: 60%;
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #7FA794;
}

.list .list__busqueda button {
    background-color: var(--verdeOscuro);
    color: black;
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 15px;
    margin-left: 5px;
}

.list .list__headproducts {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 15px 0;
    justify-content: space-between;
}

.list .list__id {
    width: 10%;
    text-align: center;
    display: none;
    color: var(--verdeFuerte);
}

.list .list__name {
    width: 65%;
    display: flex;
    align-items: center;
    color: var(--verdeFuerte);

}

.list .list__price {
    width: 25%;
    display: none;
}

.list .list__options {
    width: auto;
}

.list .list__products {
    display: flex;
    flex-direction: column;

}

.list .list__product {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--verdeFuerte);
    border-left: 1px solid var(--verdeFuerte);
    border-right: 1px solid var(--verdeFuerte);
    font-size: 0.8em;
}

.list .list__product:last-child{
    border-bottom: 1px solid var(--verdeFuerte);
}

.list .list__products .list__options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.list .list__edit,
.list .list__delete {
    height: 35px;
    width: 33px;
    border: none;
    font-size: 15px;
    background-color: var(--azulSuave);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
    align-content: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

@media(min-width:426px) {
    .list__container__options{
        margin: 30px auto;
    }

    .list__cates1 {
        justify-content: center;
        gap: 10px;
    }

    .list .list__id {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list .list__name {
        font-size: 1rem;
        width: 65%;
        display: flex;
        align-items: center;
    }

    .list .list__options {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }


    .list .list__busqueda {
        width: 310px;
        order: 1;
    }

}

@media(min-width:760px) {

    .list .list__busqueda input{
        min-width: 235px;
        width: 70%;
    }

    .list__cates1 {
        justify-content: flex-start;
        width: 265px;
    }

    .list__categorie__select {
        width: max-content;
    }

    .box_button_add_product {
        width: max-content;
    }

    .add_product_list {
        width:max-content;
    }

    .list__cates {
        width: 100%;
    }

    .list .list__top {
        flex-direction: row;
        justify-content: space-between;
    }

    .list .list__container {
        width: 80%;
        max-width: 700px;
    }

    .list .list__id {
        width: 7%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .list .list__name {
        width: 58%;
        display: flex;
        align-items: center;
    }

    .list .list__price {
        width: auto;
        display: flex;
        align-items: center;
    }

    .list .list__options {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .list__cates div select {
        width: auto;
    }

    .list__options_top {
        width: 150px;
        margin-right: 5px;
    }

    .list__cate {
        width: 33%;
    }

    .list__busqueda {
        width: 40%;
    }
}