.login main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.login_box_1 {
    font-size: 12px;
}

.login_box_2 {
    font-size: 10px;
    text-align: end;
}

.login_video {
    display: none;
}

.header_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_login a img {
    width: 150px;
}

.login h1 {
    padding: 10px 0 10px;
    color: black;
    text-align: center;
    letter-spacing: 5px;
}


.login_container {
    width: 80%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: 1px solid var(--verdeFuerte);
}

.login_form-box {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.login_form-input {
    width: 100%;
    margin: 5px 0 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--verdeFuerte);
    transition: 0.5s;
}

.login_form-input:hover,
.login_form-input:focus{
    box-shadow: 0 0 5px var(--verdeOscuro), 0 0 10px var(--verdeOscuro), 0 0 15px var(--verdeOscuro);
}

.login_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.login_button button {
    background-color: var(--verdeOscuro);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
}

.login label {
    font-size: 10px;
}

.login_form-box input {
    text-align: center;
}

.login_box-gf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5px;
}

.login_google button {
    padding: 5px;
    font-size: 30px;
    background-color: var(--VerdeSuave);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid var(--verdeFuerte);
    color: red;
    text-align: center;
}

.login_facebook button {
    padding: 5px;
    font-size: 30px;
    background-color: var(--VerdeSuave);
    border-radius: 10px;
    color: blue;
    width: 50px;
    height: 50px;
    border: 1px solid var(--verdeFuerte);
    text-align: center;
}



/* .login_google button i {
    
} */

@media (min-width: 425px) {
    .login button:hover {
        transition: all 0.4s;
        background-color: var(--verdeFuerte);
    }

    .login_form-box input {
        width: 70%;
    }

    .login_form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login_container {
        width: 350px;
    }

    .login_box_1 {
        font-size: 15px;
    }

    .login_box_2 {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .login main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly
    }

    .login_video {
        display: block;
    }

    .login_form-box input {
        width: 70%;
    }
    .header_login a img {
        width: 250px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    .login_video iframe {
        width: 450px;
        height: 340px;
    }
}