.login main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-image: url('/images/background-register.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.video_login {
    display: none;
}

.login_general_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login_form-input.active-error {
    border: 2px solid rgb(235, 78, 78);
}

.login_box_1 {
    font-size: 12px;
}

.login_box_2 {
    font-size: 10px;
    text-align: end;
}

.login_video {
    display: none;
}

.login_form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_login {
    display: none;
}

.header_login a img {
    width: 150px;
}

.login h1 {
    padding: 10px 0 10px;
    color: black;
    text-align: center;
    letter-spacing: 5px;
}

.box_introduccion {
    display: flex;
    justify-content: space-between;
}


.login_container {
    width: 80%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(5px);
    border: 1px solid var(--verdeFuerte);
}

.login_form-box {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.login_form-input {
    width: 100%;
    margin: 5px 0 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid var(--verdeFuerte);
    transition: 0.5s;
}



.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.login_button button {
    background-color: var(--verdeOscuro);
    color: black;
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 15px;

}

.login label {
    font-size: 13px;
    font-weight: bold;
}

.login_form-box input {
    text-align: center;
}

.login_box-gf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login_button_google{
    font-size: 30px;
    background-color: transparent;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid var(--verdeFuerte);
    color: red;
    text-align: center;
    padding: 6px 9px;
}

.login_button_facebook {
    font-size: 30px;
    background-color: transparent;
    border-radius: 10px;
    color: blue;
    width: 50px;
    height: 50px;
    border: 1px solid var(--verdeFuerte);
    text-align: center;
    padding: 6px 9px;
}

/* .login_remember-box{
    display: flex;
    align-items: center;
    justify-content: center;
} */


@media (min-width: 425px) {

    .login_general_container {
        margin-top: 0;
        height: 80vh;
    }

    .login main {
        height: 80vh;
    }

    .login_form-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .header_login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        filter: drop-shadow(0 0 15px var(--verdeOscuro))
    }

    .header_login a img {
        filter: drop-shadow(15px 0 15px #2E4A2F)
    }

    .login .header_login_mobile {
        display: none;
    }

    .login_button_google:hover, .login_button_facebook:hover {
        transition: all 0.4s;
        background-color: var(--verdeFuerte);
    }

    .login_form-box input {
        width: 70%;
    }

    .login_form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login_container {
        width: 350px;
    }

    .login_box_1 {
        font-size: 15px;
    }

    .login_box_2 {
        font-size: 12px;
    }
    .video_login {
        width: 80%;
        max-width: 700px;
        display: flex;
        margin:  auto auto;
        border: 2px solid #417543;
    }
}

@media (min-width: 768px) {
    

    .login_form-container {
        width: 50%;
    }

    .login_video {
        display: flex;

    }

    .login_container_video {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly
    }


    .login_form-box input {
        width: 70%;
    }

    .header_login a img {
        width: 180px;
        margin-bottom: 10px;
    }

    .login_form-input:hover,
    .login_form-input:focus {
        box-shadow: 0 0 5px var(--verdeFuerte), 0 0 10px var(--verdeFuerte), 0 0 15px var(--verdeFuerte);
    }
}

@media (min-width: 1024px) {
    .login_video iframe {
        width: 450px;
        height: 340px;
    }
}