/*MOBILE*/
.productCard .producto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 70px;
}


/*NOMBRE PRODUCTO*/
.productCard .producto__texto h1 {
    font-size: 16px;
    color: var(--azulSuave);
    text-align: center;
    text-shadow: none;
}


/*BOX TEXTO*/
.productCard .producto__texto {
    line-height: 25px;
    text-align: justify;
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    padding: 20px 10px;
    border: 1px solid green;
}

/*TEXTO*/
.productCard .producto__texto p {
    color: var(--VioletaOscuro);
    padding: 12px;
    background-color: var(--aquamarineSuave);
    border-radius: 5px;
    text-shadow: none;
line-height: 25px;margin-top: 20px;font-size: 15px;}

/*BOX IMAGEN*/
.productCard .producto__imagen {
    background-color: var(--verdeClaro);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(161, 206, 152);
    padding: 11px;
    border: 1px solid green;
    margin-top: 10px;
width: 100%;}

.productCard .box-info {
    display: flex;
    justify-content: space-between;
    color: var(--azulSuave);
    align-items: flex-end;
}

.productCard .box-info-precio {
    display: flex;
    flex-direction: column;
}

.productCard .producto__imagen h2 {
    padding: 10px;
    display: inline-flex;
    justify-content: flex-end;
}

.productCard .box-info .rating {
    font-size: 20px;
}

.productCard .box-imagen img {
    width: 100%;
    border-radius: 50%;
}

/* ÍCONOS */
.productCard .producto__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.productCard .producto-iconos {
    display: inline-flex;
}

.productCard .producto__cart a, button{
    font-size: 30px;
    background-color: var(--azulSuave);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.productCard .producto__cart a:hover {
    color: var(--azulSuave);
    background-color: white;
    border: 1px solid var(--azul);
}


/* PRODUCTOS RELACIONADOS */
.productCard .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCard .productosRelacionados {
    color: white;
    background-color: var(--verdeOscuro);
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCard .card.estilo-c {
    width: 300px;
    margin-bottom: 40px;
}


.productCard .estilo-c .img-container .promo {
    position: absolute;
    background: var(--aquamarine);
    top: 10px;
    left: 0;
    font-size: 20px;
    padding: 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: var(--azulMarino);
}

.productCard .estilo-c .img-container {
    overflow: hidden;
    height: 300px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productCard .estilo-c .img-container img {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    height: 100%;
}

.productCard .estilo-c:hover .img-container img {
    transform: scale(1.2);
}

.productCard .estilo-c .info-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--green-background-cards);
    height: 170px;
    padding-left: 10px;
    padding-top: 5px;
}

.productCard .card {
    width: 33%;
}

.productCard .box-nombre-edit {
    display: flex;
    justify-content: space-between;
}

/*NOMBRE PRODUCTO*/
.productCard .estilo-c .info-container h2 {
    font-size: 18px;
    text-shadow: none;
    color: var(--azulSuave);
}

/*CATEGORÍA PRODUCTO*/
.productCard .estilo-c .info-container h4 {
    font-size: 14px;
    text-shadow: none;
    color: var(--VioletaOscuro);
}

/*PROPIEDAD PRODUCTO*/
.productCard .estilo-c .info-container h3 {
    font-size: 24px;
}

.productCard .estilo-c .add-cart {
    font-size: 15px;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: var(--azulSuave);
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.productCard .card-c-iconos, .buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.productCard .iconos-white a {
    background-color: var(--azulSuave);
    color: white;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
display: inline-flex;justify-content: center;align-content: flex-end;}

.productCard .card-c-iconos .buttons {
    display: flex;
    flex-direction: column;
}

.productCard .buttons button {
    background-color: var(--azulSuave);
    color: white;
    border-radius: 30%;
}

/* NUESTRA COMUNIDAD OPINA */
.productCard .titulares {
    text-align: center;
    color: white;
    background-color: var(--verdeOscuro);
    margin: 30px 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.productCard .comunidad {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    padding-bottom: 50px;
justify-content: center;align-content: center;}

.productCard .card__perfil {
    border: 2px solid antiquewhite;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    /* background-color: rgba(127, 255, 212, 0.5); */
    ;
    color: var(--VioletaOscuro);
    text-align: center;
overflow: scroll;height: 150px;}

.productCard .card__perfil p {
    /* padding-top: 10px; */
    color: var(--VioletaOscuro);
    text-shadow: none;
    /* font-size: 12px; */
    font-size: 10px;
    background-color: rgba(127, 255, 212, 0.9);
    border-radius: 8px;
}

.productCard .card__nombre_box-img{
    width: 100%;
    padding-top: 10px;
/* align-items: center; *//* display: flex; *//* justify-content: center; */}

.productCard .card__nombre_box-img img{
    width: 40%;
    border-radius: 15%;
}

.productCard .card__nombre h2 {
    padding-top: 5px;
font-size: 15px;}

.productCard .iconos-eco {
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    margin-bottom: -48px;
}

.productCard .iconos-eco img {
    width: 24%;
    border-radius: 50%;
}

.productCard .estilo-c .add-cart:hover {
    color: var(--azulSuave);
    background-color: white;
    border: 1px solid var(--azulSuave);
}

@media(min-width: 460px) {
    /* Producto principal */

    .productCard .producto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        margin-bottom: 20px;

    }

    .productCard .producto__texto h1 {
        font-size: 20px;
        padding: 15px;
    }

    /*PRECIO*/
    .productCard .producto__imagen h2 {
        font-size: 35px;
    }

    /*NUESTRA COMUNIDAD OPINA*/
    .productCard .box-perfiles {
        display: flex;
        flex-wrap: nowrap;
    }

    .productCard .card-perfil {
        width: 30%;
    }

    .productCard .card__nombre img {
        width: 30%;
    }

    /* PRODUCTOS RELACIONADOS */

    .productCard .row {
        flex-direction: row;
        justify-content: space-around;
    }

    /*NOMBRE PRODUCTO*/
    .productCard .estilo-c .info-container h2 {
        font-size: 18px;
    }

    /*CATEGORÍA PRODUCTO*/
    .productCard .estilo-c .info-container h4 {
        font-size: 16px;
    }

    /*PROPIEDAD PRODUCTO*/
    .productCard .estilo-c .info-container h3 {
        font-size: 22px;
    }

    .productCard .estilo-c .img-container img {
        top: 0;
        height: 100%;
    }

    .productCard .estilo-c .add-cart {
        padding: 5px;
        border-radius: 15px;
        font-size: 15px;
    }

    .productCard .estilo-c:hover {
        box-shadow: 0 0 8px black;
    }
}

@media (min-width: 760px) {

    /* Producto principal */
    .productCard .producto__texto h1 {
        font-size: 24px;
        padding: 20px;
    }

    .productCard .producto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        margin-bottom: 20px;

    }

    .productCard .producto__imagen {
        width: 44%;height: 50%;}

    .productCard .producto__cart {
        /* gap: 60px; */
        
        flex-direction: row;align-items: flex-end;
        justify-content: space-evenly;
    align-content: flex-end;flex-wrap: wrap;}

    .productCard .box-texto-iconos {
        /* width: 80%; */
    padding: 10px;}

    .productCard .producto-iconos {
        gap: 10px;
        padding-top: 10px;
    }

    .productCard .producto__texto h4 {
        font-size: 16px;
        padding-top: 10px;
    }

    .productCard .producto__imagen h2 {
        font-size: 48px;
        padding-bottom: 20px;
    }

    .productCard .rating {
        font-size: 12px;
    }

    /*NUESTRA COMUNIDAD OPINA*/
    .productCard .box-perfiles {
        display: flex;
        flex-wrap: nowrap;
    }

    /*PRODUCTOS RELACIONADOS*/
    .productCard .productosRelacionados {
        margin-bottom: 30px;
        height: 60px;
        display: flex;
        flex-direction: row;
    }

    .productCard .iconos-eco {
        width: 97%;
    }

    .container-imagen-texto{
        display: flex;
    height: 100%;width: 100%;}
}
