/* Producto principal */

.productCard .producto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.productCard .producto__imagen img{
    width: 500px;
    height: 80%;
    border-radius: 5px;
    padding-right: 10px;

}
.productCard .producto__imagen .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: rgb(174, 214, 247);
    padding: 15px;
    color: var(--violetaOscuro);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

.productCard .producto__cart{
    margin-top: 2px;
    text-decoration: none;
    color: var(--violetaOscuro);
    background-color: aquamarine;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 16px;
  }
  .productCard .producto__cart:hover{
    color: var(--verdeOscuro);
    background-color: #FDF287;
    border: 1px solid white;
  }


/* Nuestra Comunidad Opina */

h1{
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}

.tarjetas{
    width: 100%;
    display:flex;
    gap: 50px;
    flex: wrap;
    justify-content: space-evenly;
    padding: 20px;
    padding-bottom: 80px;
}

.card__perfil{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
}

.card__perfil:hover{
    border: solid var(--verdeOscuro) 2px;
}

.card__perfil:hover img{
    transform: rotate(-360deg);
}

.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card__nombre img{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    transition: all .10s;
}

.card__nombre h2{
    padding-top: 20px;
}

.card__descripcion{
    text-shadow: black;
}


/* Productos Relacionados😍 */
.productosRelacionados{
    text-align: center;
    color: var(--violetaOscuro);
    background-color: aquamarine;
    margin-bottom: 30px;
}
.productCard .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.productCard .card{
    width: 33%;
}

.productCard .estilo-c{
    font-family: "Montserrat Alternates", sans-serif;
}

.productCard .estilo-c a{
    text-decoration: none;
    color: var(--violetaOscuro);
}

.productCard .estilo-c a:hover{
    text-decoration: underline aquamarine;
    color: var(--verdeOscuro);
} 
 .productCard .estilo-c .img-container{
    overflow:hidden;
    height: 300px;
    position: relative;
}

.productCard .estilo-c .img-container img{
    width: 100%;
    position: absolute;
    top: -20%;
    transition: all 0.5s;
}

.estilo-c:hover .img-container img{
    transform: scale(1.2);
}  


  .estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: rgb(174, 214, 247);
    padding: 15px;
    color: var(--violetaOscuro);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

/*   .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  } */
  .estilo-c .info-container h3{
    margin: 0;
  }
  .estilo-c .info-container h3,
  .estilo-c .info-container .promo,
  .estilo-c .info-container span{
    padding: 15px;
    width: 100%;
  }
  .estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: var(--violetaOscuro);
    background-color: aquamarine;
    padding: 15px;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 16px;
  }
  .estilo-c .add-cart:hover{
    color: var(--verdeOscuro);
    background-color: #FDF287;
    border: 1px solid white;
  }