.product header{
    margin: 0;
    padding: 0;
}

.product main section .Detail__Categorias{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.product main section .Detail__Categorias .Detail__Categorias-box{
    padding: 60px;
    margin: 10px 0;
    font-size: 1.5em;
    text-transform: uppercase;
}
.product main section .Detail__Categorias .Detail__Categorias-box a{
    color: white;
}

.product main section .Detail__Categorias .Detail__Categorias-box:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    )
    ,url(/images/acondicionador-argán.jpg);
    background-size: cover;
}

.product main section .Detail__Categorias .Detail__Categorias-box:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    )
    ,url(/images/acondicionador-argán.jpg);
    background-size: cover;
}

.product main section .Detail__Categorias .Detail__Categorias-box:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    )
    ,url(/images/acondicionador-argán.jpg);
    background-size: cover;
}