:root{
    --verdeClaro: #D0EDCA;
    --verdeAmarillento: #D9E66B;
    --verdeClaro-Opaco: rgba(208, 237, 202, 0.5);
    --grisClaro: #C4C4C4;
    --trasparencia: rgba(0,0,0,0);
    --verdeOscuro: #7FA794;
    --VioletaOscuro: #383843;
}

